body { background-color:#fff; }
.hb-custom-header #mk-page-introduce, .mk-header { background-color:#f7f7f7;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover; }
.hb-custom-header > div, .mk-header-bg { background-color:#fff; } .mk-classic-nav-bg { background-color:#fff; }
.master-holder-bg { background-color:#fff; } #mk-footer { background-color:#ffffff; }
#mk-boxed-layout { -webkit-box-shadow:0 0 px rgba(0, 0, 0, ); -moz-box-shadow:0 0 px rgba(0, 0, 0, ); box-shadow:0 0 px rgba(0, 0, 0, ); }
.mk-news-tab .mk-tabs-tabs .is-active a, .mk-fancy-title.pattern-style span, .mk-fancy-title.pattern-style.color-gradient span:after, .page-bg-color { background-color:#fff; }
.page-title { font-size:20px; color:#4d4d4d; text-transform:uppercase; font-weight:400; letter-spacing:2px; }
.page-subtitle { font-size:14px; line-height:100%; color:#a3a3a3; font-size:14px; text-transform:none; }
.header-style-1 .mk-header-padding-wrapper, .header-style-2 .mk-header-padding-wrapper, .header-style-3 .mk-header-padding-wrapper { padding-top:91px; } @font-face { font-family:'star'; src:url('../fonts/star/font.eot'); src:url('../fonts/star/font.eot?#iefix') format('embedded-opentype'), url('../fonts/star/font.woff') format('woff'), url('../fonts/star/font.ttf') format('truetype'), url('../fonts/star/font.svg#star') format('svg'); font-weight:normal; font-style:normal; } @font-face { font-family:'WooCommerce'; src:url('../fonts/woocommerce/font.eot'); src:url('../fonts/woocommerce/font.eot?#iefix') format('embedded-opentype'), url('../fonts/woocommerce/font.woff') format('woff'), url('../fonts/woocommerce/font.ttf') format('truetype'), url('../fonts/woocommerce/font.svg#WooCommerce') format('svg'); font-weight:normal; font-style:normal; }
