{% extends "base.html" %}
{% load i18n static thumbnail %}



{% block header_css %}
<style type="text/css" id="wp-custom-css">
			input#fld_4236944_1 {
    height: 50px;
    border: 0;
    border-radius: 0;
}

input#fld_4236944_2 {
    height: 50px;
    border: 0;
    border-radius: 0;
}

		</style>
	<meta name="generator" content="Jupiter Child Theme ">
<style type="text/css" data-type="vc_custom-css">.mk-box-icon-2-image {
    float: right;
}
div#intro {
    min-height: calc(100vh - 67px) !important;
}
.mk-box-icon-2-content {
    font-size: 12px;
    padding: 10px 0px 10px 0 !important;
    text-align: justify;
}
.mk-box-icon-2-title {
    font-size: 16px;
    padding: 12px 55px 10px 0 !important;
}
.pd-number .form-control, .pd-number .form-control:hover, .pd-number .form-control:focus, .pd-number .form-control:visited {
    direction: ltr;
    text-align: right;
}
.pd-box-slide {
    background: #22222261;
    border-radius: 10px;
    padding-bottom: 20px;
}

.pd-1 .mk-image-container:before, .pd-2 .mk-image-container:before, .pd-3 .mk-image-container:before, .pd-4 .mk-image-container:before {
    color: #d7d7d7;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -27px;
    font-size: 40px;
    font-weight: 700;
    top: 55%;
}
.pd-1 .mk-image-container:before {
    content: '۱';
}
.pd-2 .mk-image-container:before {
    content: '۲';
}
.pd-3 .mk-image-container:before {
    content: '۳';
}
.pd-4 .mk-image-container:before {
    content: '۴';
}


span.mk-testimonial-company {
    bottom: 10px;
    padding: 10px;
    left: 10px;
    position: absolute;
}
p.mk-testimonial-quote {
    display: none;
}
span.mk-testimonial-author {
    bottom: 30px;
    position: absolute;
    right: 0;
    padding: 10px;
    color: #585858 !important;
}</style><style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1516864498969{padding-top: 20px !important;}.vc_custom_1516864480795{padding-bottom: 40px !important;}.vc_custom_1516864511258{padding-top: 20px !important;padding-bottom: 40px !important;background-color: #f5f5f5 !important;}.vc_custom_1516788403243{background-color: #f5f5f5 !important;}.vc_custom_1516786173316{padding-top: 30px !important;padding-bottom: 30px !important;background-color: #f5f5f5 !important;}.vc_custom_1520178856332{margin-bottom: 0px !important;}.vc_custom_1517146956382{margin-bottom: 0px !important;}.vc_custom_1519031402438{margin-bottom: 0px !important;}.vc_custom_1516738397236{margin-bottom: 0px !important;}.vc_custom_1516719135787{margin-bottom: 0px !important;}.vc_custom_1517146826325{padding-bottom: 10px !important;}.vc_custom_1520587740070{margin-bottom: 0px !important;}.vc_custom_1516865107066{margin-bottom: 0px !important;}.vc_custom_1516865069401{margin-bottom: 0px !important;}.vc_custom_1517147009592{margin-bottom: 0px !important;}.vc_custom_1517235214057{padding-top: 10px !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
<style type="text/css">@keyframes resizeanim { from { opacity: 0; } to { opacity: 0; } } .resize-triggers { animation: 1ms resizeanim; visibility: hidden; opacity: 0; } .resize-triggers, .resize-triggers > div, .contract-trigger:before { content: " "; display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; } .resize-triggers > div { background: #eee; overflow: auto; } .contract-trigger:before { width: 200%; height: 200%; }</style><style> @-webkit-keyframes loadingoverlay_animation__rotate_right { to { -webkit-transform : rotate(360deg); transform : rotate(360deg); } } @keyframes loadingoverlay_animation__rotate_right { to { -webkit-transform : rotate(360deg); transform : rotate(360deg); } } @-webkit-keyframes loadingoverlay_animation__rotate_left { to { -webkit-transform : rotate(-360deg); transform : rotate(-360deg); } } @keyframes loadingoverlay_animation__rotate_left { to { -webkit-transform : rotate(-360deg); transform : rotate(-360deg); } } @-webkit-keyframes loadingoverlay_animation__fadein { 0% { opacity   : 0; -webkit-transform : scale(0.1, 0.1); transform : scale(0.1, 0.1); } 50% { opacity   : 1; } 100% { opacity   : 0; -webkit-transform : scale(1, 1); transform : scale(1, 1); } } @keyframes loadingoverlay_animation__fadein { 0% { opacity   : 0; -webkit-transform : scale(0.1, 0.1); transform : scale(0.1, 0.1); } 50% { opacity   : 1; } 100% { opacity   : 0; -webkit-transform : scale(1, 1); transform : scale(1, 1); } } @-webkit-keyframes loadingoverlay_animation__pulse { 0% { -webkit-transform : scale(0, 0); transform : scale(0, 0); } 50% { -webkit-transform : scale(1, 1); transform : scale(1, 1); } 100% { -webkit-transform : scale(0, 0); transform : scale(0, 0); } } @keyframes loadingoverlay_animation__pulse { 0% { -webkit-transform : scale(0, 0); transform : scale(0, 0); } 50% { -webkit-transform : scale(1, 1); transform : scale(1, 1); } 100% { -webkit-transform : scale(0, 0); transform : scale(0, 0); } } </style><style type="text/css">.fancybox-margin{margin-right:17px;}</style>
{% endblock %}


{% block meta_tag %}
<title>{{ content.title }}</title>


<meta name="description" content="{{ content.meta_description }}">
<meta property="og:locale" content="fa_IR">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ content.meta_title }}">
<meta property="og:description" content="{{ content.meta_description }}">
<meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta property="og:site_name" content="ماشین خود را بفروشید | کارشناسی و ارزش گذاری رایگان">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ content.meta_description }}">
<meta name="twitter:title" content="{{ content.meta_title }}">
{% endblock %}

{% block content %}
<div id="theme-page" class="master-holder  clearfix" itemscope="itemscope" itemtype="https://schema.org/Blog" >
			<div class="master-holder-bg-holder">
				<div id="theme-page-bg" class="master-holder-bg js-el"  ></div>
			</div>
			<div class="mk-main-wrapper-holder">
				<div id="mk-page-id-2" class="theme-page-wrapper mk-main-wrapper mk-grid full-layout no-padding">
					<div class="theme-content no-padding" itemprop="mainEntityOfPage">

<div class="mk-page-section-wrapper" data-mk-full-width="true" data-mk-full-width-init="true" data-mk-stretch-content="true">
    <div id="intro"class="mk-page-section self-hosted   full_layout full-width-2 js-el js-master-row     center-y" data-mk-component="FullHeight" data-fullHeight-config='{"min": 50}'   data-intro-effect="false">



            <div class="mk-page-section-inner">



<div class="mk-video-color-mask"></div>



			<div class="mk-section-preloader js-el" data-mk-component="Preloader">
			<div class="mk-section-preloader__icon"></div>
		</div>


	<div class="background-layer-holder">
        {% thumbnail content.image "1920x1080" crop="center" as desktop %}
        {% thumbnail content.image "1024x576" crop="center" as tablet %}
        {% thumbnail content.image "736x414" crop="center" as mobile %}

            <div id="background-layer--2" data-mk-lazyload="false" class="background-layer mk-background-stretch none-blend-effect js-el"
                 data-mk-component="Parallax" data-parallax-config='{"speed" : 0.3 }'
                 data-mk-img-set='{"landscape":{
                 "desktop":"{{ desktop.url }}",
                 "tablet":"{{ tablet.url }}",
                 "mobile":"{{ mobile.url }}"},
                 "responsive":"true"}' >
        {% endthumbnail %}
        {% endthumbnail %}
        {% endthumbnail %}
									<div class="mk-color-layer"></div>
		</div>
	</div>

            </div>


        <div class="page-section-content vc_row-fluid mk-grid " >
            <div class="mk-padding-wrapper wpb_row"><style id="mk-shortcode-style-3" type="text/css">. { }</style>
<div class="vc_col-sm-12 pd-box-slide wpb_column column_container   _ height-full">

<h1 id="fancy-title-4" class="mk-fancy-title  simple-style   color-single">
	<span>ما ماشین {{ content.brand.title }} شما رو میخریم</span>
</h1>
<div class="clearboth"></div>



<style id="mk-shortcode-style-4" type="text/css">#fancy-title-4{letter-spacing:0px;text-transform:none;font-size:60px;color:#ffffff;text-align:right;font-style:normal;font-weight:bold;padding-top:5px;padding-bottom:10px;}#fancy-title-4 span{}#fancy-title-4 span i{font-style:normal;} @media handheld, only screen and (max-width:767px) { #fancy-title-4 { text-align:center !important; } } @media handheld, only screen and (max-width:1280px) { #fancy-title-4 { font-size:50px; } } @media handheld, only screen and (min-width:768px) and (max-width:1024px) { #fancy-title-4 { font-size:45px; } } @media handheld, only screen and (max-width:767px) { #fancy-title-4 { font-size:29px; } }</style>
<h4 id="fancy-title-5" class="mk-fancy-title  simple-style   color-single">
	<span>
	<span>
				همون روز، با بهترین قیمت			</span>
</h4>
<div class="clearboth"></div>



<style id="mk-shortcode-style-5" type="text/css">#fancy-title-5{letter-spacing:0px;text-transform:none;font-size:35px;color:#ffffff;text-align:right;font-style:normal;font-weight:bold;padding-top:5px;padding-bottom:10px;}#fancy-title-5 span{}#fancy-title-5 span i{font-style:normal;} @media handheld, only screen and (max-width:767px) { #fancy-title-5 { text-align:center !important; } } @media handheld, only screen and (max-width:1280px) { #fancy-title-5 { font-size:30px; } } @media handheld, only screen and (min-width:768px) and (max-width:1024px) { #fancy-title-5 { font-size:25px; } } @media handheld, only screen and (max-width:767px) { #fancy-title-5 { font-size:20px; } }</style><style id="mk-shortcode-style-6" type="text/css">#text-block-6 { margin-bottom:0px; text-align:left; }</style>	<div class=" vc_custom_1520178856332">

<div id="text-block-6" class="mk-text-block   ">


	<div class="caldera-grid" id="caldera_form_1" data-cf-ver="1.6.3" data-cf-form-id="CF5a96a8e54bc25"><div id="caldera_notices_1" data-spinner="http://carpars.ir/wp-admin/images/spinner.gif"></div>
        <form data-instance="1" class="CF5a96a8e54bc25 caldera_forms_form" method="GET" action="/appointment" enctype="multipart/form-data" id="CF5a96a8e54bc25_1" data-form-id="CF5a96a8e54bc25" aria-label="CarParsBooking">
<input type="hidden" id="_cf_verify_CF5a96a8e54bc25" name="_cf_verify" value="a4f7f51e03"  data-nonce-time="1527636786" /><input type="hidden" name="_wp_http_referer" value="/" /><input type="hidden" name="_cf_frm_id" value="CF5a96a8e54bc25">
<input type="hidden" name="_cf_frm_ct" value="1">
<input type="hidden" name="_cf_cr_pst" value="2">
<div class="hide" style="display:none; overflow:hidden;height:0;width:0;">
<label>Twitter</label><input type="text" name="twitter" value="" autocomplete="off">
</div><div id="CF5a96a8e54bc25_1-row-1"  class="row  single"><div  class="col-sm-2  first_col"><div data-field-wrapper="fld_6086100" class="form-group" id="fld_6086100_1-wrap">
	<label id="fld_6086100Label" for="fld_6086100_1" class="control-label screen-reader-text sr-only">کمپانی</label>
	<div class="">
		<select name="fld_6086100" value="" data-field="fld_6086100" class="form-control" id="fld_6086100_1"  required="required"  aria-labelledby="fld_6086100Label" >
		<option value="" disabled selected>برند</option>		</select>
			</div>
</div>
</div><div  class="col-sm-2 "><div data-field-wrapper="fld_9835059" class="form-group" id="fld_9835059_1-wrap">
	<label id="fld_9835059Label" for="fld_9835059_1" class="control-label screen-reader-text sr-only">دسته بندی</label>
	<div class="">
		<select name="fld_9835059" value="" data-field="fld_9835059" class="form-control" id="fld_9835059_1"  required="required"  aria-labelledby="fld_9835059Label" >
		<option value="" disabled selected>مدل</option>		</select>
			</div>
</div>
</div><div  class="col-sm-1 "><div data-field-wrapper="fld_279112" class="form-group" id="fld_279112_1-wrap">
	<label id="fld_279112Label" for="fld_279112_1" class="control-label screen-reader-text sr-only">مدل</label>
	<div class="">
		<select name="fld_279112" value="" data-field="fld_279112" class="form-control" id="fld_279112_1"    aria-labelledby="fld_279112Label" >
		<option value="" disabled selected>آپشن</option>		</select>
			</div>
</div>
</div><div  class="col-sm-1 "><div data-field-wrapper="fld_4151103" class="form-group" id="fld_4151103_1-wrap">
	<label id="fld_4151103Label" for="fld_4151103_1" class="control-label screen-reader-text sr-only">سال تولید</label>
	<div class="">
		<select name="fld_4151103" value="" data-field="fld_4151103" class="form-control" id="fld_4151103_1"  required="required"  aria-labelledby="fld_4151103Label" >
		<option value="" disabled selected>سال ساخت</option>					<option value="2018-1397"  data-calc-value="2018-1397" >
						2018-1397					</option>
										<option value="2017-1396"  data-calc-value="2017-1396" >
						2017-1396					</option>
										<option value="2016-1395"  data-calc-value="2016-1395" >
						2016-1395					</option>
										<option value="2015-1394"  data-calc-value="2015-1394" >
						2015-1394					</option>
										<option value="2014-1393"  data-calc-value="2014-1393" >
						2014-1393					</option>
										<option value="2013-1392"  data-calc-value="2013-1392" >
						2013-1392					</option>
										<option value="2012-1391"  data-calc-value="2012-1391" >
						2012-1391					</option>
										<option value="2011-1390"  data-calc-value="2011-1390" >
						2011-1390					</option>
										<option value="2010-1389"  data-calc-value="2010-1389" >
						2010-1389					</option>
										<option value="2009-1388"  data-calc-value="2009-1388" >
						2009-1388					</option>
										<option value="2008-1387"  data-calc-value="2008-1387" >
						2008-1387					</option>
										<option value="2007-1386"  data-calc-value="2007-1386" >
						2007-1386					</option>
										<option value="2006-1385"  data-calc-value="2006-1385" >
						2006-1385					</option>
										<option value="2005-1384"  data-calc-value="2005-1384" >
						2005-1384					</option>
										<option value="2004-1383"  data-calc-value="2004-1383" >
						2004-1383					</option>
										<option value="2003-1382"  data-calc-value="2003-1382" >
						2003-1382					</option>
										<option value="2002-1381"  data-calc-value="2002-1381" >
						2002-1381					</option>
										<option value="2001-1380"  data-calc-value="2001-1380" >
						2001-1380					</option>
										<option value="2000-1379"  data-calc-value="2000-1379" >
						2000-1379					</option>
							</select>
			</div>
</div>
</div><div  class="col-sm-2 "><div data-field-wrapper="fld_7465237" class="form-group" id="fld_7465237_1-wrap">
	<label id="fld_7465237Label" for="fld_7465237_1" class="control-label screen-reader-text sr-only">کارکرد</label>
	<div class="">
		<select name="fld_7465237" value="" data-field="fld_7465237" class="form-control" id="fld_7465237_1"  required="required"  aria-labelledby="fld_7465237Label" >
		<option value="" disabled selected>کارکرد</option>					<option value="کمتر از 10000 km"  data-calc-value="کمتر از 10000 km" >
						کمتر از 10000 km					</option>
										<option value="10000 - 20000 km"  data-calc-value="10000 - 20000 km" >
						10000 - 20000 km					</option>
										<option value="20000 - 40000 km"  data-calc-value="20000 - 40000 km" >
						20000 - 40000 km					</option>
										<option value="40000 - 60000 km"  data-calc-value="40000 - 60000 km" >
						40000 - 60000 km					</option>
										<option value="60000 - 100000 km"  data-calc-value="60000 - 100000 km" >
						60000 - 100000 km					</option>
										<option value="بیشتر از 100000 km"  data-calc-value="بیشتر از 100000 km" >
						بیشتر از 100000 km					</option>
							</select>
			</div>
</div>
</div><div  class="col-sm-2 "><div data-field-wrapper="fld_4236944" class="form-group pd-number" id="fld_4236944_1-wrap">
	<label id="fld_4236944Label" for="fld_4236944_1" class="control-label screen-reader-text sr-only">شماره تماس</label>
	<div class="">
		<input placeholder="شماره موبایل" data-inputmask="'mask': '(9999)999-9999'"  required type="phone" data-field="fld_4236944" class=" form-control" id="fld_4236944_1" name="fld_4236944" value="" data-type="phone" aria-required="true"   aria-labelledby="fld_4236944Label" >			</div>
</div>
</div><div  class="col-sm-2  last_col"><div data-field-wrapper="fld_7112091" class="form-group" id="fld_7112091_1-wrap">
<div class="">
	<input  class="btn btn-default" type="submit" name="fld_7112091" id="fld_7112091_1" value="دریافت قیمت" data-field="fld_7112091"  >
</div>
</div>
	<input class="button_trigger_1" type="hidden" name="fld_7112091" id="fld_7112091_1_btn" value="" data-field="fld_7112091"  />
</div></div></form>
</div>


	<div class="clearboth"></div>
</div>

	</div>
</div>
</div>
            <div class="clearboth"></div>
        </div>




<div class="mk-skip-to-next" data-skin="light">
	<svg  class="mk-svg-icon" data-name="mk-jupiter-icon-arrow-bottom" data-cacheid="icon-5b0de3321f288" style=" height:16px; width: 16px; "  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 121.6c0 8-3.2 16-8 22.4l-225.6 240c-6.4 6.4-14.4 9.6-24 9.6-8 0-16-3.2-22.4-9.6l-224-240c-11.2-12.8-11.2-33.6 1.6-44.8 12.8-12.8 32-11.2 44.8 1.6l201.6 214.4 203.2-216c11.2-12.8 32-12.8 44.8 0 4.8 6.4 8 14.4 8 22.4z"/></svg></div>


        <div class="clearboth"></div>
    </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>

<style id="mk-shortcode-style-2" type="text/css">.full-width-2 { min-height:50px; margin-bottom:0px; background-color:#efefef; } .full-width-2 .page-section-content { padding:0px 0 0px; } #background-layer--2 { ; background-position:center bottom; background-repeat:repeat; ; } #background-layer--2 .mk-color-layer { ; width:100%; height:100%; position:absolute; top:0; left:0; }</style><style id="mk-shortcode-style-2" type="text/css">.full-width-2 .mk-fancy-title.pattern-style span, .full-width-2 .mk-blog-view-all { background-color:#efefef !important; }</style>

<div class="vc_row-full-width vc_clearfix"></div>
<div  id="customers" data-mk-stretch-content="true" class="wpb_row vc_row vc_row-fluid  mk-fullwidth-false  attched-false     js-master-row  mk-grid">
				<style id="mk-shortcode-style-36" type="text/css">. { }</style>

<div><h1>{{ content.title }}</h1>
    <p>
{{ content.description|safe }}
    </p>
</div>

<div class="vc_col-sm-12 wpb_column column_container   _ height-full">
	<style id="mk-shortcode-style-37" type="text/css">#mk-ornamental-title-37 { margin-top:50px; margin-bottom:50px; } #mk-ornamental-title-37 .title { color:; font-weight:500; font-style:inherit; text-transform:initial; } #mk-ornamental-title-37 .title span::after, #mk-ornamental-title-37 .title span::before { border-top:2px solid ; }</style><style id="mk-shortcode-style-37" type="text/css">#mk-ornamental-title-37 .title { font-size:22px; line-height:28px; }</style><style id="mk-shortcode-style-37" type="text/css">#mk-ornamental-title-37 .title span::after, #mk-ornamental-title-37 .title span::before { top:13px; }</style><div id="mk-ornamental-title-37" class="mk-ornamental-title norman-short-single align-center title_as_text"> <h3 class="title"><span class="title-text">مشتریان درباره ما چه گفته اند</span></h3>
</div><div class="bb-ultimate-carousel"><div class='bb-ultimate-carousel-slider   ' data-settings={&quot;arrows&quot;:false,&quot;autoplay&quot;:true,&quot;dots&quot;:true,&quot;pauseOnFocus&quot;:false,&quot;slidesPerRow&quot;:3,&quot;slidesToScroll&quot;:1,&quot;slidesToShow&quot;:3,&quot;responsive&quot;:[{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;dots&quot;:false,&quot;vertical&quot;:false}},{&quot;breakpoint&quot;:450,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;dots&quot;:false,&quot;vertical&quot;:false}}]} >
{% for customer in testimonials %}
    <div class='bb-ultimate-carousel-slide   '>

    <div class="mk-testimonial js-el modern-style testimonial-column dark-version   clearfix" id="testimonial_40" data-mk-component="Grid" data-grid-config='{"container":"#testimonial_40", "item":".testimonial-item"}' >

		<ul class="testimonial-ul clearfix">
		<li class="one-column testimonial-item">
	<div class="mk-testimonial-content">
        {% thumbnail customer.image "269x202" crop="center" as im %}
            <img src="{{ im.url }}" alt="خرید خودروی {{ customer.car_identify }} توسط خودرو 45 از {{ customer.name }}">
        {% empty %}
             <p>{{ customer.name }}</p>
        {% endthumbnail %}
		<p class="mk-testimonial-quote"><p style="text-align: right;">"{{ customer.text }}"</p></p><span class="mk-testimonial-author">{{ customer.car_identify }}</span>				<br><span class="mk-testimonial-company">{{ customer.name }}</span>
			<div class="clearboth"></div>

	</div>
</li>	</ul>
	<div class="clearboth"></div>
</div>
<style id="mk-shortcode-style-40" type="text/css">#testimonial_40 .mk-testimonial-quote, #testimonial_40 .mk-testimonial-quote p { color:#777777; } #testimonial_40 .mk-testimonial-quote { font-size:20px; font-style:normal; font-weight:400; letter-spacing:0px; text-transform:initial; } #testimonial_40 .mk-testimonial-quote * { font-style:normal !important; font-weight:400 !important; } #testimonial_40 .mk-testimonial-author { color:#444444; } #testimonial_40 .mk-testimonial-company{ color:#f04e23; }</style>

    </div>{% endfor %}</div></div></div>
	</div>

<div  id="faq" data-mk-full-width="true" data-mk-full-width-init="false" class="wpb_row vc_row vc_row-fluid  mk-fullwidth-true  attched-false    vc_custom_1516788403243  js-master-row ">

	</div>
<div class="vc_row-full-width vc_clearfix"></div>
<div  data-mk-stretch-content="true" class="wpb_row vc_row vc_row-fluid  mk-fullwidth-false  attched-false     js-master-row  mk-grid">
				<style id="mk-shortcode-style-46" type="text/css">. { }</style>
<div class="vc_col-sm-12 wpb_column column_container   _ height-full">

<div id="padding-47" class="mk-padding-divider   clearfix"></div>

<style id="mk-shortcode-style-47" type="text/css">#padding-47 { height:70px; }</style></div>
	</div>

<div  id="contact" data-mk-stretch-content="true" class="wpb_row vc_row vc_row-fluid  mk-fullwidth-false  attched-false     js-master-row  mk-grid">
				<style id="mk-shortcode-style-48" type="text/css">. { }</style>
<div class="vc_col-sm-4 wpb_column column_container   _ height-full">
	<style id="mk-shortcode-style-49" type="text/css">#text-block-49 { margin-bottom:6px; text-align:right; }</style>	<div class=" vc_custom_1517146826325">

<div id="text-block-49" class="mk-text-block   ">


	<p>سریع ترین روش تماس، تلفن ۹۱۰۰۵۴۰۱-۰۲۱ یا ارسال درخواست از طریق این فرم می باشد.</p>
<p>همکاران ما در اسرع وقت با شما تماس خواهند گرفت.</p>

	<div class="clearboth"></div>
</div>

	</div>
</div>
<style id="mk-shortcode-style-50" type="text/css">. { }</style>
<div class="vc_col-sm-8 wpb_column column_container   _ height-full">
	<style id="mk-shortcode-style-51" type="text/css">#text-block-51 { margin-bottom:0px; text-align:left; }</style>	<div class=" vc_custom_1520587740070">

<div id="text-block-51" class="mk-text-block   ">


	<div class="caldera-grid" id="caldera_form_2" data-cf-ver="1.6.3" data-cf-form-id="CF5aa24773afcf1"><div id="caldera_notices_2" data-spinner="http://carpars.ir/wp-admin/images/spinner.gif"></div><form data-instance="2" class="CF5aa24773afcf1 caldera_forms_form" method="POST" enctype="multipart/form-data" id="CF5aa24773afcf1_2" data-form-id="CF5aa24773afcf1" aria-label="CarParsBookingFooter">
<input type="hidden" id="_cf_verify_CF5aa24773afcf1" name="_cf_verify" value="ce0ef4885f"  data-nonce-time="1527636786" /><input type="hidden" name="_wp_http_referer" value="/" /><input type="hidden" name="_cf_frm_id" value="CF5aa24773afcf1">
<input type="hidden" name="_cf_frm_ct" value="2">
<input type="hidden" name="_cf_cr_pst" value="2">
<div class="hide" style="display:none; overflow:hidden;height:0;width:0;">
<label>Url</label><input type="text" name="url" value="" autocomplete="off">
</div><div id="CF5aa24773afcf1_2-row-1"  class="row  first_row"><div  class="col-sm-4  first_col"><div data-field-wrapper="fld_6086100" class="form-group" id="fld_6086100_2-wrap">
	<label id="fld_6086100Label" for="fld_6086100_2" class="control-label screen-reader-text sr-only">کمپانی</label>
	<div class="">
		<select name="fld_6086100" value="" data-field="fld_6086100" class="form-control" id="fld_6086100_2"  required="required"  aria-labelledby="fld_6086100Label" >
		<option value="" disabled selected>برند</option>		</select>
			</div>
</div>
</div><div  class="col-sm-4 "><div data-field-wrapper="fld_9835059" class="form-group" id="fld_9835059_2-wrap">
	<label id="fld_9835059Label" for="fld_9835059_2" class="control-label screen-reader-text sr-only">دسته بندی</label>
	<div class="">
		<select name="fld_9835059" value="" data-field="fld_9835059" class="form-control" id="fld_9835059_2"  required="required"  aria-labelledby="fld_9835059Label" >
		<option value="" disabled selected>مدل</option>		</select>
			</div>
</div>
</div><div  class="col-sm-4  last_col"><div data-field-wrapper="fld_279112" class="form-group" id="fld_279112_2-wrap">
	<label id="fld_279112Label" for="fld_279112_2" class="control-label screen-reader-text sr-only">مدل</label>
	<div class="">
		<select name="fld_279112" value="" data-field="fld_279112" class="form-control" id="fld_279112_2"    aria-labelledby="fld_279112Label" >
		<option value="" disabled selected>آپشن</option>		</select>
			</div>
</div>
</div></div><div id="CF5aa24773afcf1_2-row-2"  class="row  last_row"><div  class="col-sm-3  first_col"><div data-field-wrapper="fld_4151103" class="form-group" id="fld_4151103_2-wrap">
	<label id="fld_4151103Label" for="fld_4151103_2" class="control-label screen-reader-text sr-only">سال تولید</label>
	<div class="">
		<select name="fld_4151103" value="" data-field="fld_4151103" class="form-control" id="fld_4151103_2"  required="required"  aria-labelledby="fld_4151103Label" >
		<option value="" disabled selected>سال ساخت</option>					<option value="2018-1397"  data-calc-value="2018-1397" >
						2018-1397					</option>
										<option value="2017-1396"  data-calc-value="2017-1396" >
						2017-1396					</option>
										<option value="2016-1395"  data-calc-value="2016-1395" >
						2016-1395					</option>
										<option value="2015-1394"  data-calc-value="2015-1394" >
						2015-1394					</option>
										<option value="2014-1393"  data-calc-value="2014-1393" >
						2014-1393					</option>
										<option value="2013-1392"  data-calc-value="2013-1392" >
						2013-1392					</option>
										<option value="2012-1391"  data-calc-value="2012-1391" >
						2012-1391					</option>
										<option value="2011-1390"  data-calc-value="2011-1390" >
						2011-1390					</option>
										<option value="2010-1389"  data-calc-value="2010-1389" >
						2010-1389					</option>
										<option value="2009-1388"  data-calc-value="2009-1388" >
						2009-1388					</option>
										<option value="2008-1387"  data-calc-value="2008-1387" >
						2008-1387					</option>
										<option value="2007-1386"  data-calc-value="2007-1386" >
						2007-1386					</option>
										<option value="2006-1385"  data-calc-value="2006-1385" >
						2006-1385					</option>
										<option value="2005-1384"  data-calc-value="2005-1384" >
						2005-1384					</option>
										<option value="2004-1383"  data-calc-value="2004-1383" >
						2004-1383					</option>
										<option value="2003-1382"  data-calc-value="2003-1382" >
						2003-1382					</option>
										<option value="2002-1381"  data-calc-value="2002-1381" >
						2002-1381					</option>
										<option value="2001-1380"  data-calc-value="2001-1380" >
						2001-1380					</option>
										<option value="2000-1379"  data-calc-value="2000-1379" >
						2000-1379					</option>
							</select>
			</div>
</div>
</div><div  class="col-sm-3 "><div data-field-wrapper="fld_7465237" class="form-group" id="fld_7465237_2-wrap">
	<label id="fld_7465237Label" for="fld_7465237_2" class="control-label screen-reader-text sr-only">کارکرد</label>
	<div class="">
		<select name="fld_7465237" value="" data-field="fld_7465237" class="form-control" id="fld_7465237_2"  required="required"  aria-labelledby="fld_7465237Label" >
		<option value="" disabled selected>کارکرد</option>					<option value="کمتر از 10000 km"  data-calc-value="کمتر از 10000 km" >
						کمتر از 10000 km					</option>
										<option value="10000 - 20000 km"  data-calc-value="10000 - 20000 km" >
						10000 - 20000 km					</option>
										<option value="20000 - 40000 km"  data-calc-value="20000 - 40000 km" >
						20000 - 40000 km					</option>
										<option value="40000 - 60000 km"  data-calc-value="40000 - 60000 km" >
						40000 - 60000 km					</option>
										<option value="60000 - 100000 km"  data-calc-value="60000 - 100000 km" >
						60000 - 100000 km					</option>
										<option value="بیشتر از 100000 km"  data-calc-value="بیشتر از 100000 km" >
						بیشتر از 100000 km					</option>
							</select>
			</div>
</div>
</div><div  class="col-sm-3 "><div data-field-wrapper="fld_4236944" class="form-group pd-number" id="fld_4236944_2-wrap">
	<label id="fld_4236944Label" for="fld_4236944_2" class="control-label screen-reader-text sr-only">شماره تماس</label>
	<div class="">
		<input placeholder="شماره تماس" data-inputmask="'mask': '(9999)999-9999'"  required type="phone" data-field="fld_4236944" class=" form-control" id="fld_4236944_2" name="fld_4236944" value="" data-type="phone" aria-required="true"   aria-labelledby="fld_4236944Label" >			</div>
</div>
</div><div  class="col-sm-3  last_col"><div data-field-wrapper="fld_7112091" class="form-group" id="fld_7112091_2-wrap">
<div class="">
	<input  class="btn btn-default" type="submit" name="fld_7112091" id="fld_7112091_2" value="دریافت قیمت" data-field="fld_7112091"  >
</div>
</div>
	<input class="button_trigger_2" type="hidden" name="fld_7112091" id="fld_7112091_2_btn" value="" data-field="fld_7112091"  />
</div></div></form>
</div>


	<div class="clearboth"></div>
</div>

	</div>
</div>
	</div>

<div  data-mk-stretch-content="true" class="wpb_row vc_row vc_row-fluid  mk-fullwidth-false  attched-false     js-master-row  mk-grid">
				<style id="mk-shortcode-style-52" type="text/css">. { }</style>
<div class="vc_col-sm-12 wpb_column column_container   _ height-full">

<div id="padding-53" class="mk-padding-divider   clearfix"></div>

<style id="mk-shortcode-style-53" type="text/css">#padding-53 { height:70px; }</style></div>
	</div>

<div  data-mk-full-width="true" data-mk-full-width-init="false" class="wpb_row vc_row vc_row-fluid  mk-fullwidth-true  attched-false    vc_custom_1516786173316  js-master-row ">
			<div class="mk-grid">
				<style id="mk-shortcode-style-54" type="text/css">. { }</style>
<div class="vc_col-sm-3 wpb_column column_container   _ height-full">
	<style id="mk-shortcode-style-55" type="text/css">#text-block-55 { margin-bottom:0px; text-align:right; }</style>	<div class=" vc_custom_1516865107066">

<div id="text-block-55" class="mk-text-block   ">


	<p>شعبه ۱:<br />
تهران، میدان آزادی، خیابان بیمه ۵، کوچه دوم غربی، پ ۶ (<a href="https://goo.gl/maps/FbqLCe8scpG2" target="_blank" rel="noopener">موقعیت مکانی در گوگل مپ</a>)</p>

	<div class="clearboth"></div>
</div>

	</div>
</div>
<style id="mk-shortcode-style-56" type="text/css">. { }</style>
<div class="vc_col-sm-3 wpb_column column_container   _ height-full">
	<style id="mk-shortcode-style-57" type="text/css">#text-block-57 { margin-bottom:0px; text-align:right; }</style>	<div class=" vc_custom_1516865069401">

<div id="text-block-57" class="mk-text-block   ">


	<p>شعبه ۲:<br />
کیلومتر ۲۵ جاده مخصوص، جنب تولیدی اتموسفیر، خ سروستان، کوچه دوم غربی، پ۱۵ (<a href="https://goo.gl/maps/5fXzCxRPmMK2" target="_blank" rel="noopener">موقعیت مکانی در گوگل مپ</a>)</p>

	<div class="clearboth"></div>
</div>

	</div>
</div>
<style id="mk-shortcode-style-58" type="text/css">. { }</style>
<div class="vc_col-sm-3 wpb_column column_container   _ height-full">
	<style id="mk-shortcode-style-59" type="text/css">#text-block-59 { margin-bottom:0px; text-align:right; }</style>	<div class=" vc_custom_1517147009592">

<div id="text-block-59" class="mk-text-block   ">


	<p>شعبه ۳:<br />
تهران، ستارخان، جنب پل تاج، پ۴۸۵ (<a href="https://goo.gl/maps/GwCG9dackmR2" target="_blank" rel="noopener">موقعیت مکانی در گوگل مپ</a>)</p>

	<div class="clearboth"></div>
</div>

	</div>
</div>
<style id="mk-shortcode-style-60" type="text/css">. { }</style>
<div class="vc_col-sm-3 wpb_column column_container   _ height-full">
	<style id="mk-shortcode-style-61" type="text/css">#mk-font-icons-61 .font-icon svg { fill:#ffffff; }</style><style id="mk-shortcode-style-61" type="text/css">#mk-font-icons-61 { margin:4px 4px; } #mk-font-icons-61 .font-icon { background-color:#b2b2b2; border-width:0px; border-color:; border-style:solid; }</style><div class="mk-font-icons icon-align-none" id="mk-font-icons-61">
	<a target="_self" href="https://www.instagram.com/carpars.ir/" class="js-smooth-scroll"><i class="font-icon circle-enabled center-icon mk-size-large"><svg class="mk-svg-icon" data-name="mk-icon-instagram" data-cacheid="icon-5b0de3323665e" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1536 1792"><path d="M1362 1426v-648h-135q20 63 20 131 0 126-64 232.5t-174 168.5-240 62q-197 0-337-135.5t-140-327.5q0-68 20-131h-141v648q0 26 17.5 43.5t43.5 17.5h1069q25 0 43-17.5t18-43.5zm-284-533q0-124-90.5-211.5t-218.5-87.5q-127 0-217.5 87.5t-90.5 211.5 90.5 211.5 217.5 87.5q128 0 218.5-87.5t90.5-211.5zm284-360v-165q0-28-20-48.5t-49-20.5h-174q-29 0-49 20.5t-20 48.5v165q0 29 20 49t49 20h174q29 0 49-20t20-49zm174-208v1142q0 81-58 139t-139 58h-1142q-81 0-139-58t-58-139v-1142q0-81 58-139t139-58h1142q81 0 139 58t58 139z"></path></svg></i></a>
</div><style id="mk-shortcode-style-62" type="text/css">#mk-font-icons-62 .font-icon svg { fill:#ffffff; }</style><style id="mk-shortcode-style-62" type="text/css">#mk-font-icons-62 { margin:4px 4px; } #mk-font-icons-62 .font-icon { background-color:#b2b2b2; border-width:0px; border-color:; border-style:solid; }</style><div class="mk-font-icons icon-align-none" id="mk-font-icons-62">
	<a target="_self" href="https://www.linkedin.com/company/carpars/" class="js-smooth-scroll"><i class="font-icon circle-enabled center-icon mk-size-large"><svg class="mk-svg-icon" data-name="mk-jupiter-icon-simple-linkedin" data-cacheid="icon-5b0de33236e76" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M80.111 25.6c-29.028 0-48.023 20.547-48.023 47.545 0 26.424 18.459 47.584 46.893 47.584h.573c29.601 0 47.999-21.16 47.999-47.584-.543-26.998-18.398-47.545-47.442-47.545zm-48.111 128h96v320.99h-96v-320.99zm323.631-7.822c-58.274 0-84.318 32.947-98.883 55.996v1.094h-.726c.211-.357.485-.713.726-1.094v-48.031h-96.748c1.477 31.819 0 320.847 0 320.847h96.748v-171.241c0-10.129.742-20.207 3.633-27.468 7.928-20.224 25.965-41.185 56.305-41.185 39.705 0 67.576 31.057 67.576 76.611v163.283h97.717v-176.313c0-104.053-54.123-152.499-126.347-152.499z"></path></svg></i></a>
</div><style id="mk-shortcode-style-63" type="text/css">#mk-font-icons-63 .font-icon svg { fill:#ffffff; }</style><style id="mk-shortcode-style-63" type="text/css">#mk-font-icons-63 { margin:4px 4px; } #mk-font-icons-63 .font-icon { background-color:#b2b2b2; border-width:0px; border-color:; border-style:solid; }</style><div class="mk-font-icons icon-align-none" id="mk-font-icons-63">
	<a target="_self" href="https://t.me/Carparscrm" class="js-smooth-scroll"><i class="font-icon circle-enabled center-icon mk-size-large"><svg class="mk-svg-icon" data-name="mk-icon-paper-plane" data-cacheid="icon-5b0de332376f5" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1792 1792"><path d="M1764 11q33 24 27 64l-256 1536q-5 29-32 45-14 8-31 8-11 0-24-5l-453-185-242 295q-18 23-49 23-13 0-22-4-19-7-30.5-23.5t-11.5-36.5v-349l864-1059-1069 925-395-162q-37-14-40-55-2-40 32-59l1664-960q15-9 32-9 20 0 36 11z"></path></svg></i></a>
</div><style id="mk-shortcode-style-64" type="text/css">#text-block-64 { margin-bottom:0px; text-align:right; }</style>	<div class=" vc_custom_1517235214057">

<div id="text-block-64" class="mk-text-block   ">


	<p>ایمیل : <a href="mailto:info@carpars.ir">info@carpars.ir</a></p>

	<div class="clearboth"></div>
</div>

	</div>
</div>
			</div>
	</div>
<div class="vc_row-full-width vc_clearfix"></div>
		<div class="clearboth"></div>
									<div class="clearboth"></div>
											</div>
										<div class="clearboth"></div>
				</div>
			</div>
					</div>

{% endblock %}
