{% extends "base.html" %}
{% load i18n %}

{% block content %}
<header>
	<div class="ui grid" id="header">
  		<div class="two column row">
    		<div class="right floated left aligned column">
    			<a href="/">
    				<div class="item">
      					<!--<i class="circle notched icon" style="color: white"></i>-->
						  <span id="company-name">ارزون رو</span>
    				</div>
  				</a>
    		</div>
			<div class="left floated right aligned column">
    		</div>

  		</div>
	</div>
</header>


   <!-- <p class="notice"></p>
    <p class="alert"></p>  -->


<div class="ui container" id="search-results-container">
	<div class="ui grid" id="results-message">
  		<div class="one column row">
    		<div class="column">
				<div class="results-header">
					<i class="plane icon"></i>
					{{ departure.name }}
				  	به
				 	{{ arrival.name }}
                    {{ date|date:'Y M d' }}
					<a class="light-yellow ui primary basic blue" onclick="$('#search-box-inner').transition('slide');" style="cursor:pointer; padding-left:5px; font-size:0.8em;">
						<i class="yellow chevron down icon"></i> تغییر شهر/تاریخ
					</a>
				</div>
				<div style="font-size:0.8em">
					<a class="light-yellow" href="/flights/tehran-mashhad">
						<i class="yellow line chart icon"></i> مقایسه قیمت در تمام ماه
					</a>

					<a style="margin-right:12px;"class="light-yellow" href="/flights/mashhad-tehran/2018-04-04">
						<i class="yellow exchange icon"></i> مشاهده پروازهای برگشت
					</a>
				</div>

		 	</div>
		</div>
	</div>

	<div class="ui" id="search-box-inner">
		<form id="flight_search" action="/flight_search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
			<div class="ui form">
				<div class="four fields">
					<div class="field input-container">
						<input class="origin-field typeahead dir-rtl web-font" placeholder="مبدا (شهر فارسی یا انگلیسی)" value="تهران" type="text" name="search[originـfield]" id="search_originـfield" />
						<input id="origin" value="tehran" type="hidden" name="search[origin]" />
					</div>


					<div class="field input-container">
						<input class="destination-field typeahead dir-rtl web-font" placeholder="مقصد (شهر فارسی یا انگلیسی)" value="مشهد" type="text" name="search[destination_field]" id="search_destination_field" />
						<input id="destination" value="mashhad" type="hidden" name="search[destination]" />
					</div>
					<div class="field ui calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<input id="date-picker" class="form-control web-font" value="2018-04-04" readonly="readonly" autocomplete="off" type="text" name="search[date_shamsi]" />
							<input id="date-picker-field" type="text" name="search[date]" />
						</div>
					</div>
					<div class="field center aligned">
						<input type="submit" name="commit" value="جستجوی مجدد" class="ui submit web-font yellow button  fluid waiting-modal" data-disable-with="جستجوی مجدد" />
					</div>
				</div>
			</div>
</form>	</div>

	<div class="ui mini five statistics" id="flight-price-table" >
	  	<div class=" grey statistic">
		  <div class="valuee">
			  <a href="/flights/tehran-mashhad/2018-04-04">132<sup><span style='font-size:0.5em'>هزارتومان</span></sup></a>
		  </div>
		  <div class="label statistic-label  web-font">
		  	<a href="/flights/tehran-mashhad/2018-04-04"><i class='arrow down icon'></i>امروز</a>
		  </div>
	   	</div>
	  	<div class=" grey statistic">
		  <div class="valuee">
			  <a href="/flights/tehran-mashhad/2018-04-05">115<sup><span style='font-size:0.5em'>هزارتومان</span></sup></a>
		  </div>
		  <div class="label statistic-label  web-font">
		  	<a href="/flights/tehran-mashhad/2018-04-05">فردا</a>
		  </div>
	   	</div>
	  	<div class=" grey statistic">
		  <div class="valuee">
			  <a href="/flights/tehran-mashhad/2018-04-06">105<sup><span style='font-size:0.5em'>هزارتومان</span></sup></a>
		  </div>
		  <div class="label statistic-label  web-font">
		  	<a href="/flights/tehran-mashhad/2018-04-06">جمعه</a>
		  </div>
	   	</div>
	  	<div class=" grey statistic">
		  <div class="valuee">
			  <a href="/flights/tehran-mashhad/2018-04-07">90<sup><span style='font-size:0.5em'>هزارتومان</span></sup></a>
		  </div>
		  <div class="label statistic-label  web-font">
		  	<a href="/flights/tehran-mashhad/2018-04-07">شنبه</a>
		  </div>
	   	</div>
	  	<div class=" grey statistic">
		  <div class="valuee">
			  <a href="/flights/tehran-mashhad/2018-04-08">99<sup><span style='font-size:0.5em'>هزارتومان</span></sup></a>
		  </div>
		  <div class="label statistic-label  web-font">
		  	<a href="/flights/tehran-mashhad/2018-04-08">یک‌شنبه</a>
		  </div>
	   	</div>
	</div>

	<table class="ui blue table unstackable sortable rtl" id="flight-prices">
	  	<thead>
			<tr class="center aligned web-font">
	  			<th class="table-header">ایرلاین</th>
	  			<th class="table-header">ساعت </th>
	  			<th class="table-header nm">نوع پرواز</th>
	  			<th class="table-header sorted ascending">قیمت</th>
	  		</tr>
	  	</thead>
		<tbody>
            {%  for flight in flights %}

            <tr class="center aligned very basic" >
                <td class="left aligned">
                    <div class="two fields">
                        <div class="field">
                            <a href="/flights/tehran-mashhad/2018-04-04/822127" data-remote="false">
                                <h5 class="ui image header web-font">
{#                                    <img class="airline-logo image ui  " src="/assets/airline-logos/HH@2x-987be2c61dae1a607d9d0d54bf33c329fff9128a77427007998711fedeee1500.png" alt="Hh@2x" />#}
                                    <span class="content" style="font-size:0.9em">
                                        {{ flight.airline.name }}
{#                                        <span class="ui tiny rating">#}
{#                                        </span>#}
                                        <span class="sub header" style="margin-top: 7px">
                                            <span class="nm">{{ flight.code }}</span>
                                            <span class="mobile-only"></span>
                                        </span>
                                    </span>
                                </h5>
                            </a>
                        </div>
{#                        <div class="field">#}
{#                            <div class="mini ui basic  web-font rate-button dir-rtl text-right" data-content="امتیاز کاربران به تابان. برای ثبت کلیک کنید" >#}
{#                                <a href="/airline-review/taban" >#}
{#                                     <i class="star icon green small"></i><i class="empty grey star icon small"></i><i class="empty grey star icon small"></i><i class="empty grey star icon small"></i><i class="empty grey star icon small"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </td>
                <td>
                    <div class="content" style="font-size: 0.9em;color: #1d1c1c;">
                        <i class="plane grey icon"></i>
{{ flight.date|date:'G:i' }}
                        <div class="sub header" style="margin-top: 7px;color: gray;font-size: 0.8em;">

                        </div>
                    </div>
                </td>
                <td class="nm">
                    {{ flight.cabin_class }}

                </td>
                <td>
                    <div class="hide">
                        00132500
                    </div>
                    <a href="/admin/flight/providerflight/?flight_id={{ flight.id }}" data-remote="false">
                        <button class="ui submit yellow web-font fluid right labeled icon button flight-price-button" style="padding-right: 0 !important;">
                            <i class="right arrow icon"></i> از
                            <span class="white">{{ flight.min_price }} تومان </span>
                        </button>
                    </a>

                    <div class="suppliers-count">
                        <a href="/flights/tehran-mashhad/2018-04-04/822127" data-remote="false" style="color:black">
                             ارزان‌ترین قیمت بلیط از <b>{{ flight.price_count }}</b> سایت
                        </a>
                    </div>
                </td>
            </tr>
            {%  endfor %}

		</tbody>
	</table>


</div>

<div class="ui basic modal prices">
      <p id="prices-modal-content"></p>
</div>
<script>
	$('table').tablesort();
	$('.rate-button').popup();
</script>
<script>
$(document).ready(function(){


   //typeahead
    var cities = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      identify: function(obj) { return obj.value; },
      prefetch: { url: '/api/v1/city_prefetch_suggestion',cache: false
    },
      remote: {
        url: '/api/v1/city_suggestion/QUERY',
        wildcard: 'QUERY'
      },
      limit: 10
    });

    function citiesWithDefaults(q, sync, async) {
        if (q === '') {
          sync(cities.all().slice(0, 6));
        }else {
            cities.search(q, sync, async);
        }
      }
    cities.initialize();

    $('.input-container .typeahead').typeahead({
      hint: false,
      highlight:false,
      minLength: 0,
      autoselect: true,
      limit: 10
      },
      {
          name: 'cities',
          displayKey: 'value',
          source: citiesWithDefaults,
          templates: {
            header: '<h3 class="suggestion-title">از شهرهای پربازدید انتخاب کنید و یا اسم را تایپ کنید</h3>',
              empty: [
                  '<div style="font-size:0.6em">&nbsp;&nbsp;&nbsp;<i class="teal warning circle icon "></i>',
                  'نام شهر اشتباه است و یا در پروازهاب موجود نیست',
                  '</div>'
              ].join('\n'),
              suggestion: function (i) {
                  return '<p><i class="plane blue icon"></i>' + i.value +
                  '<span style="font-size: 0.8em;color:gray">  '+i.country + '</span></p>'
              }
          }
      }

  );
    $('.origin-field').on('typeahead:select', function (e, datum) {
        $('#origin').val(datum.code);

    });
    $('.destination-field').on('typeahead:select', function (e, datum) {
        $('#destination').val(datum.code);
    });

  var calnedarIsExist = document.getElementsByClassName("datepicker-plot-area-inline-view").length;
  if (calnedarIsExist == 0) {
    var today_timestamp = Math.round((new Date()).getTime() / 1000);
     $("#date-picker").pDatepicker({
          maxDate: new persianDate().subtract('day', 1).valueOf(),
          dayPicker: {scrollEnabled: false},
          monthPicker: {scrollEnabled: false},
          persianDigit: true,
          format : "dddd - DD MMMM",
          /* format : "YYYY - MM - DD", */
          altFieldFormatter : function(unix){
              if (!unix) return '';
              var date =  new Date(unix);
              var day = date.getDate();
              if(day<10) {day = '0'+day};
              var month = date.getMonth() + 1;
              if(month<10) {month = '0'+month} ;
              var year = date.getFullYear();
              return year + '-' + month + '-' + day;
          },

          altField: '#date-picker-field',
          toolbox: {enabled:false},
          navigator: {
              enabled: true,
              text: {
                  btnNextText: ">",
                  btnPrevText: "<"
              }
          },
          autoClose: true,
          inline: false
      });
   }

  // fix for turbolink does not show waiting modal after first time of form submit
  $("#flight_search").submit(function( event ) {$('.ui.basic.modal.waiting').modal('show');});
  });
</script>
  <div style="margin-top:2em">
    <div class="ui stackable sixteen column grid" style="background: #fafafa;border-top: #eee 1px solid;font-size: 1em;">
      <div class="sixteen wide column">
        <div id="what-we-do" class="web-font"  style="direction: rtl;text-align:center;padding: 1em 2em 1em 2em;line-height: 2em; font-size:1em">
        پروازهاب تمام سایت‌های معتبر پرواز را برای یافتن ارزان‌ترین و بهترین زمان سفر جستجو می‌کند.
          <div style="margin-top: 1em">
              <span style="margin: 20px">
                <a href="/supplier-review/iranhrc" class="grayscale footer-suppliers" >
                  <img class="image ui supplier-logo tiny flight-price-logo " src="/static/suppliers/iranhrc-logo.png" alt="Iranhrc logo" />
                </a>
              </span>
              <span style="margin: 20px">
                <a href="/supplier-review/flytoday" class="grayscale footer-suppliers" >
                  <img class="image ui supplier-logo tiny flight-price-logo " src="/static/suppliers/flytoday-logo.png" alt="Flytoday logo" />
                </a>
              </span>
              <span style="margin: 20px">
                <a href="/supplier-review/hipotrip" class="grayscale footer-suppliers" >
                  <img class="image ui supplier-logo tiny flight-price-logo " src="/static/suppliers/hipotrip-logo.png" alt="Hipotrip logo" />
                </a>
              </span>
              <span style="margin: 20px">
                <a href="/supplier-review/zoraq" class="grayscale footer-suppliers" >
                  <img class="image ui supplier-logo tiny flight-price-logo " src="/static/suppliers/zoraq-logo.png" alt="Zoraq logo" />
                </a>
              </span>
              <span style="margin: 20px">
                <a href="/supplier-review/safarme" class="grayscale footer-suppliers" >
                  <img class="image ui supplier-logo tiny flight-price-logo " src="/static/suppliers/safarme-logo.png" alt="Safarme logo" />
                </a>
              </span>
              <span style="margin: 20px">
                <a href="/supplier-review/flightio" class="grayscale footer-suppliers" >
                  <img class="image ui supplier-logo tiny flight-price-logo " src="/static/suppliers/flightio-logo.png" alt="Flightio logo" />
                </a>
              </span>
              <span style="margin: 20px">
                <a href="/supplier-review/ghasedak" class="grayscale footer-suppliers" >
                  <img class="image ui supplier-logo tiny flight-price-logo " src="/static/suppliers/ghasedak-logo.png" alt="Ghasedak logo" />
                </a>
              </span>
              <span style="margin: 20px">
                <a href="/supplier-review/safarestan" class="grayscale footer-suppliers" >
                  <img class="image ui supplier-logo tiny flight-price-logo " src="/static/suppliers/safarestan-logo.png" alt="Safarestan logo" />
                </a>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted vertical footer segment" style="background:#efefef; border-top:1px solid #ccc" >
    <div class="ui five column grid centered stackable">
      <div class="row">

        <div class="column center aligned">
          <div style="text-align:center; width:100%">
            <img id='sizpfukzfukzjxlzjzpe' style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=96617&p=pfvlgvkagvkarfthjyoe", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=96617&p=bsiywlbqwlbqnbpdyndt'/>
          </div>
        </div>

        <div class="column center aligned">
          <a class="footer-link" href="/us">درباره‌ و تماس</a>
          <a class="footer-link" href="/policy">قوانین به زبان ساده</a>
          <a class="footer-link" href="/our-service">توسعه دهندگان</a>
          <a class="footer-link" href="/flights">تمام پروازها</a>
          <div style="color:white; width:100%; margin:auto;text-align:center;line-height: 2em;">
          </div>
        </div>

        <div class="column center aligned">
          <div style="padding:1em">
            <a href="https://cafebazaar.ir/app/com.parvazhub.android/?l=fa">
              <span class="telegram-announce">اپلیکیشن اندروید</span>
              <img id="cafe-bazaar" src="/assets/static/bazar-726ac206dec2303d5bf97ee78d974baab1bc1ac4b193126e47186007af3257ec.png" alt="Bazar" />
            </a>
          </div>
          <div>
            <a href="https://t.me/parvazhubBot">
                <span class="telegram-announce">بات تلگرام پروازهاب</span>
                <img class="telegram-icon" src="/assets/static/telegram-d051a70957bb4ba1bf6dd8d2ff302c660ebadeccb8a3a720dacb5c68164535fa.png" alt="Telegram" />
            </a>
          </div>
        </div>

        <div class="two column center aligned" style="text-align: right;line-height: 1.9em;color: #403f3f;direction:rtl; font-size:0.8em">
          <div>
            <a href="/supplier-review" target="_blank" style="font-size:1.2em">
              <i class="comments icon"></i>
              <b>
                 تجربه خریدتان از سایت‌ها را با بقیه به اشتراک بگذارید.
              </b>
            </a>
            <br/>
            <a href="/airline-review" target="_blank" style="font-size:1.2em">
              <i class="comments icon"></i>
              <b>
              به خطوط هوایی چه امتیازی می‌دهید؟
              </b>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="ui basic modal waiting" style="left: initial;text-align: center;font-size: x-large;">
    <div class="description">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
        <p style="margin-top:2em;"> در حال جستجو</p>
        <p >لطفا چند ثانیه صبر کنید</p>
    </div>
  </div>
</div>

   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-P93NTB5');</script>

  <!--
   <script>
   $("#nag-close, #nag-text").click(function() {$(".nag-box").transition('fly left');localStorage.setItem("nag", true);});
   if (localStorage.getItem("nag") === null) {$(".nag-box").show();}
  </script>
-->
{% endblock %}
