{% load i18n static thumbnail %}

<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='{% static "css/document/bootstrap-rtl.css" %}'>
        <link type="text/css" media="all"
                href="/static/wp-content/cache/autoptimize/css/autoptimize_a8749501d4c03dc43c2e3c4a5654c7a8.css?v=1"
                rel="stylesheet" />
        <style>
        ul li span{
                margin-right:5px;
                margin-left:5px
        }
        </style>
</head>

<body style="background-color: #eee">
        <div class="container-fluid">
                <div class="row" style="margin-top:10px">
                        <div class="col-xs-12 text-center"><img
                                        src='{% static "wp-content/uploads/2018/12/logo-khodro45.png" %}'
                                        class=" text-center" id="carslogo"></div>
                </div>
                <!-- <div class="jumbotron">
                        <div class="row">
                                <div class="col-xs-12 col-md-6" > <img
                                                src='{% static "wp-content/uploads/2018/12/logo-khodro45.png" %}'
                                                class=" text-center" id="carslogo"></div>
                                <div class="col-xs-12 col-md-6" > 
                                        <span class="fa fa-phone"></span>
                                        <span>021-44444444</span>
                                </div>
                        </div>
                </div> -->
                <div class="row" style="margin-top:20px">
                        <div style="width:90%;margin:auto">
                                <ul class="list-group">
                                        <li class="list-group-item text-primary text-center"
                                                style="background-color: #f05000;color:white;font-weight:bold">مدارک
                                                مورد نیاز جهت فروش خودرو</li>
                                </ul>
                        </div>
                </div>
                <div class="row" style="margin-top:20px">
                        <div style="width:90%;margin:auto">
                                <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                                <ul class="list-group">
                                                        <li class="list-group-item text-primary"
                                                                style="font-weight: bold;font-size:120%">جهت برآورد
                                                                بهترین قیمت :</li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check text-success"></span>سند
                                                                مالکیت خودرو شامل برگ سبز و فاکتور فروش شرکت
                                                        </li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check  text-success"></span>بیمه
                                                                خودرو</li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check  text-success"></span>مدارک
                                                                آخرین سرویس دوره ای خودرو</li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check  text-success"></span>مدارک
                                                                گارانتی خودرو</li>

                                                </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                                <ul class="list-group">
                                                        <li class="list-group-item text-primary"
                                                                style="font-weight: bold;font-size:120%">جهت فروش فوری
                                                                خودرو و دریافت
                                                                نقدی ثمن معامله :</li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check  text-success"></span>شناسنامه
                                                                و کارت
                                                                ملی خودرو
                                                        </li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check  text-success"></span>بیمه
                                                                نامه خودرو ( ثالث و بدنه )</li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check  text-success"></span>سوییچ
                                                                زاپاس خودرو</li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check  text-success"></span>معاینه
                                                                فنی
                                                                خودرو
                                                        </li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check text-success"></span>شماره
                                                                حساب بانکی
                                                                فروشنده با مدرک</li>
                                                        <li class="list-group-item"><span
                                                                        class="fa fa-check text-success"></span>کلیه
                                                                لوازم
                                                                فابریک
                                                                خودرو شامل لاستیک زاپاس و جک و
                                                                آچار چرخ و ... موجود باشد</li>

                                                </ul>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>



        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122761027-1"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-122761027-1');
        </script>
</body>

</html>