{% load static thumbnail segment_question %}<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <title>Dealer App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style_inspection.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #eee">

    <div class="container">
        <div class="card">

            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-6" style="margin: auto">
                        <div class="card">
                        {% thumbnail main_images.0.get_answer.file "764x764" crop="center" as im %}

                            <img class="card-img-top" src="{{ im.url }}" alt="Card image">
                        {% endthumbnail %}
                            <div class="card-body">
                                <h4 class="card-title">{{ inspection.option.model.brand }}, {{ inspection.option.model }}, {{ inspection.option }}</h4>
                                <p class="card-text">
                                    <span>سال ساخت</span>
                                    <span class="mr-1">{{ inspection.year }}</span>
                                     -
                                     <span>کارکرد</span>
                                    <span class="mr-1">{{ inspection.klm }}</span>
                                </p>
                                <a href="#" class="btn btn-info" data-toggle="modal" data-target="#myModal">see more picture</a>



                                <ul class="nav nav-pills nav-justified mt-2" role="tablist">
                                        <li class="nav-item">
                                          <a class="nav-link" data-toggle="tab" href="#menu1">RF Details</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" data-toggle="tab" href="#menu2">Car Details</a>
                                        </li>
                                      </ul>

                                      <!-- Tab panes -->
                                      <div class="tab-content">
                                        <div id="menu1" class="container tab-pane fade"><br>
                                          <h3>Menu 1</h3>
                                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                        <div id="menu2" class="container tab-pane fade"><br>
                                          <h3>Menu 2</h3>
                                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                        </div>
                                      </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="accordion">
                            <!-- 1 -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link float-right" data-toggle="collapse" href="#collapseOne">
                                        بدنه
                                    </a>
                                    <i class="fa fa-star" style="color:gold"></i>
                                    <i class="fa fa-star" style="color:gold"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span class="float-right">first item</span>
                                                <span class="float-left">
                                                    <i class="fa fa-check-circle" style="color:green"></i>
                                                </span>

                                            </li>
                                            <li class="list-group-item">
                                                <span class="float-right">second item</span>
                                                <span class="float-left">
                                                    <i class="fa fa-times-circle" style="color:red"></i>
                                                </span>
                                            </li>
                                            <li class="list-group-item">
                                                <span class="float-right">Third item</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 2 -->
                            {% for segment in segments %}
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link float-right" data-toggle="collapse" href="#collapse{{ segment.id }}">{{ segment }}</a>
                                </div>
                                <div id="collapse{{ segment.id }}" class="collapse" data-parent="#accordion">
                                    {% segment_question %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">عکس های خودرو</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    {%  for image in main_images %}
                    <div class="card mt-2 mb-2">
                    {% thumbnail image.get_answer.file "764x764" crop="center" as im %}
                        <img class="card-img-top" src="{{ im.url }}">
                    {% endthumbnail %}

                        <div class="card-body">
                            <h4 class="card-title">{{ image.question }}</h4>
                        </div>

                    </div>
                    {%  endfor %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>

</html>
