<li class="list-group-item">
    <span class="float-right">{{ question.title }}</span>
    <span class="float-left">
        {{ answer.title }}
{#        <i class="fa fa-check-circle" style="color:green"></i>#}
    </span>

</li>
