body{
        background-color:#e6e6e6;
        font-family: WebYekan;
    }
    .color-header{
    background-color:#ffffff;
    box-shadow:3px 4px 8px 0 rgba(150, 148, 148, 0.6);
}
@font-face{
    src:url('../../fonts/document/WebYekan.woff');
    font-family: WebYekan;
}
@media only screen and (max-width: 700px){
    .phone-number{display: none}
    #carslogo{position: absolute;top: 10px;right: 0;}
}
.phone-number{
    color: #f05a21!important;
    font-size: 20px!important;
    position: absolute;
    top: 35px;
    left:20px;
}
#phone-icon{
    position: absolute;
    top:40px;
    left:-5px;
    width: 20px;
    height: 20px;
    background-size: contain;
}
#cars-addr{
    position: relative;
    left: 10px;
    top:10px;
    float: left;
    font-size:16px;
    color:#f05a21;
    text-align: center
}
#carslogo{
    position: absolute;
    right: 10px;
    margin: 21px 10px 0 0;
    width: 250px;
    min-width: 170px;
    height: 44px;
    min-height: 38px;
}
#google-mp{
    color: rgb(32, 77, 116);
    font-size:10px;
    text-decoration: none;
}
.header-cnt{
    text-align:center;
    font-size:20px;
    color:#ffffff;
    padding: 4px 0 ;
    font-weight: bold;
}
.content{
    background-color:#f05000;
    position:relative;
    margin:auto;
    box-shadow:8px 4px 8px 0 rgba(150, 148, 148, 0.6);
    border-radius: 7px;
    width:96%;
}
.color-cnt{
    margin-top:25px;
    height: auto;
}
.color-cnt2{
    background-color:#ffffff;
    margin-top:2px;
    margin-bottom:10px;
    height:auto;
    box-shadow: 4px 4px 8px 0 rgba(150, 148, 148, 0.6);
    padding:15px;
}
.text-cnt{
    direction:rtl;
    font-size:20px;
    color:#5c5cd6;
    text-indent: 15px;
    text-underline-position: under;
    font-weight: bold;
    margin-bottom:50px;
}
.txt-cars{
    direction:rtl;
    font-weight: bold;
    font-size:15px;
    text-indent: 10px;
    word-spacing:3px;
    margin-bottom: 40px;
}
.icntick{
    width:20px;
    height:15px;
    float:right;
}
