﻿{% load static  %}<!DOCTYPE html>
<html dir="rtl" lang="fa-IR" prefix="og: http://ogp.me/ns#" >
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no">
{% block meta_tag %}
<title>خودرو ۴۵ | خرید و فروش خودرو در ۴۵ دقیقه | فروش فوری خودو</title>


<meta name="description" content="خودرو 45 روال فروش ماشین شما را راحت کرده! ما هر ماشینی میخریم همون روز، با بهترین قیمت، بدون چک و چونه با خودرو 45 تنها نیاز هست اول ثبت درخواست کنید سپس به یکی از شعب مراجعه کنید برای کارشناسی و ماشین خود را فروش کنید">
<meta property="og:locale" content="fa_IR">
<meta property="og:type" content="website">
<meta property="og:title" content="Khodro45 | خودرو 45 - ماشین خود را بفروشید | کارشناسی و ارزش گذاری رایگان">
<meta property="og:description" content="خودرو 45 روال فروش ماشین شما را راحت کرده! ما هر ماشینی میخریم همون روز، با بهترین قیمت، بدون چک و چونه با خودرو 45 تنها نیاز هست اول ثبت درخواست کنید سپس به یکی از شعب مراجعه کنید برای کارشناسی و ماشین خود را فروش کنید">
<meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta property="og:site_name" content="ماشین خود را بفروشید | کارشناسی و ارزش گذاری رایگان">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="خودرو 45 روال فروش ماشین شما را راحت کرده! ما هر ماشینی میخریم همون روز، با بهترین قیمت، بدون چک و چونه با خودرو 45 تنها نیاز هست اول ثبت درخواست کنید سپس به یکی از شعب مراجعه کنید برای کارشناسی و ماشین خود را فروش کنید">
<meta name="twitter:title" content="Khodro45 | خودرو 45 - ماشین خود را بفروشید | کارشناسی و ارزش گذاری رایگان">
{% endblock %}
<link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path }}">
<script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/khodro45.com\/","name":"\u0645\u0627\u0634\u06cc\u0646 \u062e\u0648\u062f \u0631\u0627 \u0628\u0641\u0631\u0648\u0634\u06cc\u062f | \u06a9\u0627\u0631\u0634\u0646\u0627\u0633\u06cc \u0648 \u0627\u0631\u0632\u0634 \u06af\u0630\u0627\u0631\u06cc \u0631\u0627\u06cc\u06af\u0627\u0646","potentialAction":{"@type":"SearchAction","target":"http:\/\/khodro45.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"Organization","url":"http:\/\/khodro45.com\/","sameAs":[],"@id":"http:\/\/khodro45.com\/#organization","name":"\u06a9\u0627\u0631\u067e\u0627\u0631\u0633","logo":"http:\/\/khodro45.com\/static/wp-content\/uploads\/2018\/02\/photo_-_-.jpg"}</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TS3M4T9');</script>
<!-- End Google Tag Manager -->
<link rel="dns-prefetch" href="//s.w.org">

<link rel="shortcut icon" href="{% static "images/ICO.ico" %}" type="image/x-icon">
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
<script type="text/javascript">
window.abb = {};
php = {};
window.PHP = {};
PHP.ajax = "http://khodro45.com/wp-admin/admin-ajax.php";PHP.wp_p_id = "2";var mk_header_parallax, mk_banner_parallax, mk_page_parallax, mk_footer_parallax, mk_body_parallax;
var mk_images_dir = "http://khodro45.com/static/wp-content/themes/jupiter/assets/images",
mk_theme_js_path = "http://khodro45.com/static/wp-content/themes/jupiter/assets/js",
mk_theme_dir = "http://khodro45.com/static/wp-content/themes/jupiter",
mk_captcha_placeholder = "Enter Captcha",
mk_captcha_invalid_txt = "Invalid. Try again.",
mk_captcha_correct_txt = "Captcha correct.",
mk_responsive_nav_width = 1140,
mk_vertical_header_back = "Back",
mk_vertical_header_anim = "1",
mk_check_rtl = false,
mk_grid_width = 1140,
mk_ajax_search_option = "disable",
mk_preloader_bg_color = "#fff",
mk_accent_color = "#f04e23",
mk_go_to_top =  "true",
mk_smooth_scroll =  "true",
mk_preloader_bar_color = "#f04e23",
mk_preloader_logo = "{% static "images/carpars-icon.png" %}";
var mk_header_parallax = false,
mk_banner_parallax = false,
mk_footer_parallax = false,
mk_body_parallax = false,
mk_no_more_posts = "No More Posts",
mk_typekit_id   = "",
mk_google_fonts = [],
mk_global_lazyload = true;
</script>
<link rel="stylesheet" id="critical-path-css"  href="{% static "images/carpars-icon.png" %}" type="text/css" media="all">
<link rel="stylesheet" id="mk-style-css" href="{%  static "/css/fonts.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="mk-style-css" href="{%  static "/css/style.css" %}?2" type="text/css" media="all">
<script type="text/javascript">
WebFontConfig = {
	timeout: 2000
}

if ( mk_typekit_id.length > 0 ) {
	WebFontConfig.typekit = {
		id: mk_typekit_id
	}
}

if ( mk_google_fonts.length > 0 ) {
	WebFontConfig.google = {
		families:  mk_google_fonts
	}
}

if ( (mk_google_fonts.length > 0 || mk_typekit_id.length > 0) && navigator.userAgent.indexOf("Speed Insights") == -1) {
	WebFont.load( WebFontConfig );
}

</script>

<script> var isTest = false; </script>
<style id="js-media-query-css">.mk-event-countdown-ul:media(max-width:750px) li{width:90%;display:block;margin:0 auto 15px}.mk-event-countdown-ul-block li{width:90%;display:block;margin:0 auto 15px}.mk-process-steps:media(max-width:960px) ul:before{display:none!important}.mk-process-steps:media(max-width:960px) li{margin-bottom:30px!important;width:100%!important;text-align:center}.mk-event-countdown-ul.query_max-width_750px li {width:90%;display:block;margin:0 auto 15px}.mk-process-steps.query_max-width_960px ul:before {display:none!important}.mk-process-steps.query_max-width_960px li {margin-bottom:30px!important;width:100%!important;text-align:center}</style><meta itemprop="author" content="pdadmin"><meta itemprop="datePublished" content="ژانویه 23, 2018"><meta itemprop="dateModified" content="می 20, 2018"><meta itemprop="publisher" content="ماشین خود را بفروشید | کارشناسی و ارزش گذاری رایگان">		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress.">
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://khodro45.com/static/wp-content/plugins/js_composer_theme/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
<style type="text/css">@keyframes resizeanim { from { opacity: 0; } to { opacity: 0; } } .resize-triggers { animation: 1ms resizeanim; visibility: hidden; opacity: 0; } .resize-triggers, .resize-triggers > div, .contract-trigger:before { content: " "; display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; } .resize-triggers > div { background: #eee; overflow: auto; } .contract-trigger:before { width: 200%; height: 200%; }</style><style> @-webkit-keyframes loadingoverlay_animation__rotate_right { to { -webkit-transform : rotate(360deg); transform : rotate(360deg); } } @keyframes loadingoverlay_animation__rotate_right { to { -webkit-transform : rotate(360deg); transform : rotate(360deg); } } @-webkit-keyframes loadingoverlay_animation__rotate_left { to { -webkit-transform : rotate(-360deg); transform : rotate(-360deg); } } @keyframes loadingoverlay_animation__rotate_left { to { -webkit-transform : rotate(-360deg); transform : rotate(-360deg); } } @-webkit-keyframes loadingoverlay_animation__fadein { 0% { opacity   : 0; -webkit-transform : scale(0.1, 0.1); transform : scale(0.1, 0.1); } 50% { opacity   : 1; } 100% { opacity   : 0; -webkit-transform : scale(1, 1); transform : scale(1, 1); } } @keyframes loadingoverlay_animation__fadein { 0% { opacity   : 0; -webkit-transform : scale(0.1, 0.1); transform : scale(0.1, 0.1); } 50% { opacity   : 1; } 100% { opacity   : 0; -webkit-transform : scale(1, 1); transform : scale(1, 1); } } @-webkit-keyframes loadingoverlay_animation__pulse { 0% { -webkit-transform : scale(0, 0); transform : scale(0, 0); } 50% { -webkit-transform : scale(1, 1); transform : scale(1, 1); } 100% { -webkit-transform : scale(0, 0); transform : scale(0, 0); } } @keyframes loadingoverlay_animation__pulse { 0% { -webkit-transform : scale(0, 0); transform : scale(0, 0); } 50% { -webkit-transform : scale(1, 1); transform : scale(1, 1); } 100% { -webkit-transform : scale(0, 0); transform : scale(0, 0); } } </style><style type="text/css">.fancybox-margin{margin-right:17px;}</style>

	<script type="text/javascript" src="{% static "js/header-scripts.js" %}"></script>
    {%  block header_css %}{% endblock %}
</head>

<body class="rtl home page-template-default page page-id-2 wpb-js-composer js-comp-ver-5.4.8 vc_responsive" itemscope="itemscope" itemtype="https://schema.org/WebPage"  data-adminbar="">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TS3M4T9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<!-- Target for scroll anchors to achieve native browser bahaviour + possible enhancements like smooth scrolling -->
	<div id="top-of-page"></div>

		<div id="mk-boxed-layout">

			<div id="mk-theme-container" >


    <header data-height='90'
                data-sticky-height='55'
                data-responsive-height='90'
                data-transparent-skin=''
                data-header-style='1'
                data-sticky-style='fixed'
                data-sticky-offset='header' id="mk-header-1" class="mk-header header-style-1 header-align-right  toolbar-false menu-hover-2 sticky-style-fixed mk-background-stretch boxed-header " role="banner" itemscope="itemscope" itemtype="https://schema.org/WPHeader" >
                    <div class="mk-header-holder">
                                <div class="mk-header-inner add-header-height">

                    <div class="mk-header-bg "></div>


                                                <div class="mk-grid header-grid">

                            <div class="mk-header-nav-container one-row-style menu-hover-style-2" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" >
                                <nav class="mk-main-navigation js-main-nav"><ul id="menu-main-menu" class="main-navigation-ul"><li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom no-mega-menu"><a class="menu-item-link js-smooth-scroll"  href="#how">مراحل فروش</a></li>
<li id="menu-item-31" class="menu-item menu-item-type-custom menu-item-object-custom no-mega-menu"><a class="menu-item-link js-smooth-scroll"  href="/testimonials/">نظر مشتریان</a></li>
<li id="menu-item-163" class="menu-item menu-item-type-custom menu-item-object-custom no-mega-menu"><a class="menu-item-link js-smooth-scroll"  href="/faq/">سوالات متداول</a></li>
<li id="menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom no-mega-menu"><a class="menu-item-link js-smooth-scroll"  href="/blog/">بلاگ</a></li>
<li id="responsive-menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link js-smooth-scroll"  href="/about/">درباره ما</a></li>
{#<li id="menu-item-531" class="pd-menu-phone menu-item menu-item-type-custom menu-item-object-custom no-mega-menu"><a class="menu-item-link js-smooth-scroll"  href="/dealer/">شرکای تجاری</a></li>#}
<li id="menu-item-531" class="pd-menu-phone menu-item menu-item-type-custom menu-item-object-custom no-mega-menu"><a class="menu-item-link js-smooth-scroll"  href="tel:+982191004501"><svg  class="mk-svg-icon" data-name="mk-moon-phone-2" data-cacheid="icon-5b1e58392df18" style=" height:16px; width: 16px; "  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M352 320c32-32 128 64 128 96s-96 96-96 96c-64 0-193.75-65.75-256-128s-128-192-128-256c0 0 64-96 96-96s128 96 96 128-64 32-64 64 32 64 64 96 64 64 96 64 32-32 64-64zm-32-192c-22.419 0-42.133 11.536-53.563 28.987 7.893-3.206 16.518-4.987 25.563-4.987 37.556 0 68 30.445 68 68 0 9.045-1.781 17.669-4.987 25.563 17.451-11.43 28.987-31.144 28.987-53.563 0-35.346-28.653-64-64-64zm16-64c-33.896 0-64.273 15.059-84.812 38.85 16.792-9.452 36.17-14.85 56.812-14.85 64.064 0 116 51.935 116 116 0 20.642-5.398 40.02-14.85 56.812 23.791-20.539 38.85-50.916 38.85-84.812 0-61.856-50.145-112-112-112zm32-64c-41.519 0-78.926 17.578-105.206 45.689 22.477-13.772 48.913-21.717 77.206-21.717 81.738 0 148 66.269 148 148.014 0 28.326-7.962 54.79-21.761 77.286 28.154-26.283 45.761-63.718 45.761-105.272 0-79.529-64.471-144-144-144z"/></svg>۹۱۰۰۵۴۰۱</a></li>
</ul></nav>                            </div>

<div class="mk-nav-responsive-link">
    <div class="mk-css-icon-menu">
        <div class="mk-css-icon-menu-line-1"></div>
        <div class="mk-css-icon-menu-line-2"></div>
        <div class="mk-css-icon-menu-line-3"></div>
    </div>
</div>	<div class=" header-logo fit-logo-img add-header-height  ">
		<a href="http://khodro45.com/" title="ماشین خود را بفروشید | کارشناسی و ارزش گذاری رایگان">

			<img class="mk-desktop-logo dark-logo "
				title="خریدار واقعی خودرو"
				alt="خریدار واقعی خودرو"
				src="{% static "images/khodro45-logo.png" %}" />



					</a>
	</div>

                                            </div>

                    <div class="mk-header-right">
                                            </div>

                </div>

<div class="mk-responsive-wrap">

	<nav class="menu-main-menu-container"><ul id="menu-main-menu-1" class="mk-responsive-nav"><li id="responsive-menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link js-smooth-scroll"  href="#how">مراحل فروش</a></li>
<li id="responsive-menu-item-31" class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link js-smooth-scroll"  href="/testimonials/">نظر مشتریان</a></li>
<li id="responsive-menu-item-163" class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link js-smooth-scroll"  href="/faq/">سوالات متداول</a></li>
<li id="responsive-menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link js-smooth-scroll"  href="/blog/">بلاگ</a></li>
<li id="responsive-menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link js-smooth-scroll"  href="/about/">درباره ما</a></li>
{#<li id="responsive-menu-item-531" class="pd-menu-phone menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link js-smooth-scroll"  href="/dealer/">شرکای تجاری</a></li>#}
<li id="responsive-menu-item-531" class="pd-menu-phone menu-item menu-item-type-custom menu-item-object-custom"><a class="menu-item-link js-smooth-scroll"  href="tel:+982191004501"><svg  class="mk-svg-icon" data-name="mk-moon-phone-2" data-cacheid="icon-5b1e58392f94a" style=" height:16px; width: 16px; "  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M352 320c32-32 128 64 128 96s-96 96-96 96c-64 0-193.75-65.75-256-128s-128-192-128-256c0 0 64-96 96-96s128 96 96 128-64 32-64 64 32 64 64 96 64 64 96 64 32-32 64-64zm-32-192c-22.419 0-42.133 11.536-53.563 28.987 7.893-3.206 16.518-4.987 25.563-4.987 37.556 0 68 30.445 68 68 0 9.045-1.781 17.669-4.987 25.563 17.451-11.43 28.987-31.144 28.987-53.563 0-35.346-28.653-64-64-64zm16-64c-33.896 0-64.273 15.059-84.812 38.85 16.792-9.452 36.17-14.85 56.812-14.85 64.064 0 116 51.935 116 116 0 20.642-5.398 40.02-14.85 56.812 23.791-20.539 38.85-50.916 38.85-84.812 0-61.856-50.145-112-112-112zm32-64c-41.519 0-78.926 17.578-105.206 45.689 22.477-13.772 48.913-21.717 77.206-21.717 81.738 0 148 66.269 148 148.014 0 28.326-7.962 54.79-21.761 77.286 28.154-26.283 45.761-63.718 45.761-105.272 0-79.529-64.471-144-144-144z"/></svg>۹۱۰۰۵۴۰۱</a></li>
</ul></nav>


</div>

            </div>

        <div class="mk-header-padding-wrapper"></div>

    </header>

                {% block content %}{% endblock %}

<section id="mk-footer-unfold-spacer"></section>

<section id="mk-footer" class=" mk-footer-disable" role="contentinfo" itemscope="itemscope" itemtype="https://schema.org/WPFooter" >

<div id="sub-footer">
	<div class=" mk-grid text-center" style="display: flex;justify-content: center;">

		<span class="mk-footer-copyright">حق کپی رایت این وب سایت برای خودرو 45 محفوظ می باشد.</span>
			</div>
	<div class="clearboth"></div>
</div>
</section>
</div>
</div>

<div class="bottom-corner-btns js-bottom-corner-btns">

<a href="#top-of-page" class="mk-go-top  js-smooth-scroll js-bottom-corner-btn js-bottom-corner-btn--back">
	<svg  class="mk-svg-icon" data-name="mk-icon-chevron-up" data-cacheid="icon-5b1e583958817" style=" height:16px; width: 16px; "  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"><path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"/></svg></a>
</div>

<script type="text/javascript">
    php = {
        hasAdminbar: false,
        json: (null != null) ? null : "",
        jsPath: 'http://khodro45.com/static/wp-content/themes/jupiter/assets/js'
      };
    </script><script type="text/javascript">
/* <![CDATA[ */
var mPS2id_params = {"instances":{"mPS2id_instance_0":{"selector":"a","autoSelectorMenuLinks":"true","scrollSpeed":1000,"autoScrollSpeed":"true","scrollEasing":"easeInOutQuint","scrollingEasing":"easeOutQuint","pageEndSmoothScroll":"true","stopScrollOnUserAction":"false","layout":"vertical","offset":"60","highlightSelector":"","clickedClass":"mPS2id-clicked","targetClass":"mPS2id-target","highlightClass":"mPS2id-highlight","forceSingleHighlight":"false","keepHighlightUntilNext":"false","highlightByNextTarget":"false","appendHash":"false","scrollToHash":"true","scrollToHashForAll":"true","scrollToHashDelay":0,"disablePluginBelow":0,"adminDisplayWidgetsId":"true","adminTinyMCEbuttons":"true","unbindUnrelatedClickEvents":"true","normalizeAnchorPointTargets":"false"}},"total_instances":"1","shortcode_class":"_ps2id"};
/* ]]> */
</script>
<script type="text/javascript">
/* <![CDATA[ */
var CF_API_DATA = {"rest":{"root":"http:\/\/khodro45.com\/wp-json\/cf-api\/v2\/","tokens":{"nonce":"http:\/\/khodro45.com\/wp-json\/cf-api\/v2\/tokens\/form"},"nonce":"3f2244083f"},"nonce":{"field":"_cf_verify"}};
/* ]]> */
</script>
<script type="text/javascript">
/* <![CDATA[ */
var CF_API_DATA = {"rest":{"root":"http:\/\/khodro45.com\/wp-json\/cf-api\/v2\/","tokens":{"nonce":"http:\/\/khodro45.com\/wp-json\/cf-api\/v2\/tokens\/form"},"nonce":"3f2244083f"},"nonce":{"field":"_cf_verify"}};
var CFFIELD_CONFIG = {"1":{"configs":{"fld_7112091":{"type":"button","id":"fld_7112091_1","default":"","form_id":"CF5a96a8e54bc25","form_id_attr":"caldera_form_1"}},"fields":{"ids":["fld_6086100_1","fld_9835059_1","fld_279112_1","fld_4151103_1","fld_7465237_1","fld_4236944_1","fld_7112091_1"],"inputs":[{"type":"dropdown","fieldId":"fld_6086100","id":"fld_6086100_1","options":[],"default":""},{"type":"dropdown","fieldId":"fld_9835059","id":"fld_9835059_1","options":[],"default":""},{"type":"dropdown","fieldId":"fld_279112","id":"fld_279112_1","options":[],"default":""},{"type":"dropdown","fieldId":"fld_4151103","id":"fld_4151103_1","options":[],"default":null},{"type":"dropdown","fieldId":"fld_7465237","id":"fld_7465237_1","options":[],"default":null},{"type":"phone","fieldId":"fld_4236944","id":"fld_4236944_1","options":[],"default":""},{"type":"button","fieldId":"fld_7112091","id":"fld_7112091_1","options":[],"default":""}],"groups":[],"defaults":{"fld_6086100_1":"","fld_9835059_1":"","fld_279112_1":"","fld_4151103_1":null,"fld_7465237_1":null,"fld_4236944_1":"","fld_7112091_1":""},"calcDefaults":{"fld_6086100_1":0,"fld_9835059_1":0,"fld_279112_1":0,"fld_4151103_1":0,"fld_7465237_1":0,"fld_4236944_1":0,"fld_7112091_1":0}},"error_strings":{"mixed_protocol":"Submission URL and current URL protocols do not match. Form may not function properly.","jquery_old":"An out of date version of jQuery is loaded on the page. Form may not function properly."}},"2":{"configs":{"fld_7112091":{"type":"button","id":"fld_7112091_2","default":"","form_id":"CF5aa24773afcf1","form_id_attr":"caldera_form_2"}},"fields":{"ids":["fld_6086100_2","fld_9835059_2","fld_279112_2","fld_4151103_2","fld_7465237_2","fld_4236944_2","fld_7112091_2"],"inputs":[{"type":"dropdown","fieldId":"fld_6086100","id":"fld_6086100_2","options":[],"default":""},{"type":"dropdown","fieldId":"fld_9835059","id":"fld_9835059_2","options":[],"default":""},{"type":"dropdown","fieldId":"fld_279112","id":"fld_279112_2","options":[],"default":""},{"type":"dropdown","fieldId":"fld_4151103","id":"fld_4151103_2","options":[],"default":null},{"type":"dropdown","fieldId":"fld_7465237","id":"fld_7465237_2","options":[],"default":null},{"type":"phone","fieldId":"fld_4236944","id":"fld_4236944_2","options":[],"default":""},{"type":"button","fieldId":"fld_7112091","id":"fld_7112091_2","options":[],"default":""}],"groups":[],"defaults":{"fld_6086100_2":"","fld_9835059_2":"","fld_279112_2":"","fld_4151103_2":null,"fld_7465237_2":null,"fld_4236944_2":"","fld_7112091_2":""},"calcDefaults":{"fld_6086100_2":0,"fld_9835059_2":0,"fld_279112_2":0,"fld_4151103_2":0,"fld_7465237_2":0,"fld_4236944_2":0,"fld_7112091_2":0}},"error_strings":{"mixed_protocol":"Submission URL and current URL protocols do not match. Form may not function properly.","jquery_old":"An out of date version of jQuery is loaded on the page. Form may not function properly."}}};
/* ]]> */
</script>
		<script type="text/javascript">
				</script>
	<script type="text/javascript">	window.get = {};	window.get.captcha = function(enteredCaptcha) {
                  return jQuery.get(ajaxurl, { action : "mk_validate_captcha_input", captcha: enteredCaptcha });
              	};</script><script>
	window.addEventListener("load", function(){

		jQuery(document).on('click dblclick', '#fld_7112091_1', function( e ){
			jQuery('#fld_7112091_1_btn').val( e.type ).trigger('change');
		});

	});
</script>
<script> setTimeout(function(){window.Parsley.setLocale('fa'); }, 2000 );</script><script>
	window.addEventListener("load", function(){

		jQuery(document).on('click dblclick', '#fld_7112091_2', function( e ){
			jQuery('#fld_7112091_2_btn').val( e.type ).trigger('change');
		});

	});
</script>
<script> setTimeout(function(){window.Parsley.setLocale('fa'); }, 2000 );</script>
	<script type="text/javascript" src="{% static "js/footer-scripts.js" %}?2"></script>
	<script type="text/javascript" src="{% static "js/cars.js" %}?10"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122761027-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122761027-1');
</script>
<script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="bbd79b16-ea12-46e8-863f-7e17b7136e9c";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script>
<script>

	!function (t, e, n) {

			t.yektanetAnalyticsObject = n, t[n] = t[n] || function () {

				t[n].q.push(arguments)

			}, t[n].q = t[n].q || [];

			var a = new Date, r = a.getFullYear().toString() + "0" + a.getMonth() + "0" + a.getDate() + "0" + a.getHours(),

				c = e.getElementsByTagName("script")[0], s = e.createElement("script");

			s.async = 1, s.type = "text/javascript", s.src = "https://cdn.yektanet.com/rg_woebegone/scripts/3019/rg.complete.js?v=" + r, c.parentNode.insertBefore(s, c)

		}(window, document, "yektanet");

	</script>
</body>
