{% load i18n static thumbnail %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
       
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <script type="text/javascript">
            document.documentElement.className = 'js';
        </script>
    
        <script>var et_site_url = '//khodro45.com/dealer'; var et_post_id = '2'; function et_core_page_resource_fallback(a, b) { "undefined" === typeof b && (b = a.sheet.cssRules && 0 === a.sheet.cssRules.length); b && (a.onerror = null, a.onload = null, a.href ? a.href = et_site_url + "/?et_core_page_resource=" + a.id + et_post_id : a.src && (a.src = et_site_url + "/?et_core_page_resource=" + a.id + et_post_id)) }
        </script>
        <title>دیلرز | خودرو۴۵</title>
        <meta name='robots' content='noindex,follow' />
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//s.w.org' />
        <script type="text/javascript">
            window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": {% static "js/dealer/wp_emoji_release_min.js" %} }};
            !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
        </script>
        <meta content="Divi Child v.1.0.0" name="generator" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel='stylesheet' id='rs-plugin-settings-css' href='{% static "css/dealer/settings.css" %}' type='text/css'
            media='all' />

        <link rel='stylesheet' id='parent-style-css' href='{% static "css/dealer/Divi_style.css" %}' type='text/css'
            media='all' />
        <link rel='stylesheet' id='style-rtl-css' href='{% static "css/dealer/rtl.css" %}' type='text/css' media='all' />
        <link rel='stylesheet' id='divi-fonts-css'
            href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext'
            type='text/css' media='all' />
        <link rel='stylesheet' id='divi-style-css' href='{% static "css/dealer/Divi_child_style.css" %}' type='text/css'
            media='all' />
        <link rel='stylesheet' id='dashicons-css' href='{% static "css/dealer/dashicons_min.css" %}' type='text/css'
            media='all' />
            
        <script type='text/javascript' src='{% static "js/dealer/jquery.js" %}'></script>
        <meta name="generator" content="WordPress 4.9.8" />
        <link rel="canonical" href="//khodro45.com/dealer/" />
        <link rel='shortlink' href='//khodro45.com/dealer/' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="shortcut icon" href='{% static "images/ICO.ico" %}' />
        <link rel="stylesheet" id="et-core-unified-cached-inline-styles"
            href='{% static "css/dealer/unified_15354638283165_min.css" %}' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type='text/javascript'>
		var et_pb_custom = { "ajaxurl": "", "images_uri": "", "builder_images_uri": "", "et_frontend_nonce": "b7c1d20561", "subscription_failed": "Please, check the fields below to make sure you entered the correct information.", "et_ab_log_nonce": "49b9b91ea9", "fill_message": "Please, fill in the following fields:", "contact_error_message": "Please, fix the following errors:", "invalid": "Invalid email", "captcha": "Captcha", "prev": "Prev", "previous": "Previous", "next": "Next", "wrong_captcha": "You entered the wrong number in captcha.", "is_builder_plugin_used": "", "ignore_waypoints": "no", "is_divi_theme_used": "1", "widget_search_selector": ".widget_search", "is_ab_testing_active": "", "page_id": "2", "unique_test_id": "", "ab_bounce_rate": "5", "is_cache_plugin_active": "no", "is_shortcode_tracking": "" };
		var et_pb_box_shadow_elements = [];
	</script>
	<script type='text/javascript' src='{% static "js/dealer/custom_min.js" %}'></script>
    </head>
    <body>
        <div class="dealer-image">
            <nav class="navbar navbar-expand-lg navigation">
                <a class="nav-link" href="#">
                    <img class="logo" width="270px" height="35.9px"
                        src="/static/images/khodro45-logo-1.png"
                /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars text-white"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" href="#">چرا خودرو۴۵؟</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">نحوه کارشناسی</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">نصب نرم افزار</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">سوالات متداول</a>
                        </li>
                    </ul>   
                    <ul class="navbar-nav mr-auto"> 
                        <li class="nav-item">
                                <button type="button" class="button-number">۰۲۱-۹۱۰۰۴۵۰۲  <i class="fa fa-phone color-dealer"></i></button>
                        </li>
                    </ul>
            </nav>
            <div class="text-right text-white">
                <p class="title-dealer">
                    تجربه خرید مطمئن، آسان و سریع خودرو‌های کارکرده
                </p>
                <p class="text-dealer">
                   مجموعه‌ای متنوع از خودرو‌های کارکرده، کارشناسی شده با قیمت‌های استثنایی
                </p>
            </div>
            <div class="form-box-dealer">
                <div class="form-box-dealer-child">
                    <p class="text-dealer-form p-4 text-right">برای دسترسی به لیست خودرو‌ها، اطلاعات خود را وارد و ثبت نام کنید</h2></div>
                    <div class="form-group form-box-dealer-child">
                        <input type="text" class="form-control" placeholder="نام و نام خانوادگی" name="text2">
                    </div>
                    <div class="form-group form-box-dealer-child">
                        <input type="text" class="form-control" placeholder="شهر" name="text2">
                    </div>
                    <div class="form-group form-box-dealer-child">
                        <input type="text" class="form-control" placeholder="ماشین" name="text2">
                    </div>
                    <div class="form-group form-box-dealer-child">
                        <input type="text" class="form-control" placeholder="نماشیگاه" name="text2">
                    </div>
                    <div class="form-group form-box-dealer-child">
                        <input type="text" class="form-control" placeholder="شماره موبایل" name="text2">
                    </div>
                    <div class="form-group text-center form-box-dealer-child">
                  <button class="btn btnform">ثبت نام</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-12 col-md-5 text-center description" style="  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;">
                <h2 class="description-title"><span class="color-dealer">معرفی </span>خودرو<span class="color-dealer">۴۵</span></h2>
                <p  class="mt-5 text-right description-text">
                        شرکت خودرو۴۵، مجموعه‌ای فعال در راستای تامین خودرو‌های کارکرده ‌می‌باشد که در طی مدت کوتاهی به بستر مناسبی برای داد و ستد فعالین حوزه خرید و فروش خودرو تبدیل شده است.</p>
                </div>
 
                 <div class="col-md-7" style="display:block;margin:auto">
                        <div class="carousel slide text-center mt-4" id="myCarousel1" data-ride="carousel">
                            <div class="carousel-inner" style="margin-top: 9%;">
                            <div class="carousel-item active">
                                <div class="row"> 
                                    <div class="col-sm-12 col-md-4" style="  background-color: #ffffff;  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05);"><a href="#"><img src="/static/images/0@2x.jpg" class="img-fluid" width="344px" height="284px"></a></div>
                                    <div class="col-sm-12 col-md-4" style="  background-color: #ffffff;  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05);"><a href="#"><img src="/static/images/0@2x.jpg" class="img-fluid" width="344px" height="284px"></a></div>
                                    <div class="col-sm-12 col-md-4" style="  background-color: #ffffff;  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05);"><a href="#"><img src="/static/images/0@2x.jpg" class="img-fluid" width="344px" height="284px"></a></div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-sm-12 col-md-4"><a href="#"><img src="/static/images/0@2x.jpg" class="img-fluid" width="344px" height="284px"></a></div>
                            </div>
                            <div class="carousel-item ">
                                <div class="col-sm-12 col-md-4"><a href="#"><img src="/static/images/0@2x.jpg" class="img-fluid" width="344px" height="284px"></a></div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-sm-12 col-md-4"><a href="#"><img src="/static/images/0@2x.jpg" class="img-fluid" width="344px" height="284px"></a></div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-sm-12 col-md-4"><a href="#"><img src="/static/images/0@2x.jpg" class="img-fluid" width="344px" height="284px"></a></div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-sm-12 col-md-4"><a href="#"><img src="/static/images/0@2x.jpg" class="img-fluid" width="344px" height="284px"></a></div>
                            </div>
                            </div>
                            <a class="left carousel-control mt-3 p-4" href="#myCarousel1" data-slide="prev"> <i class="fa fa-chevron-left"></i> </a>
                            <a class="right carousel-control mt-3 p-4" href="#myCarousel1" data-slide="next"> <i class="fa fa-chevron-right"></i> </a>
                        </div>
                         
                 </div>
            </div>
            <div class="description-cards">
                <h2 class="description-title"><span class="color-dealer">چرا </span>خودرو<span class="color-dealer">۴۵</span></h2>
            </div>
            <div class="row text-center justify-content-center" style="width:90%;margin:10px auto !important;">
                    <div class="col-sm-12 col-md-2 cards text-center">
                            <img class="pedram-c inspection-icon" src="/static/images/shape.svg">
                            <h2 class="pedram-header">بزرگترین مرکز فروش خودرو‌های کارکرده</h2>
                            <p class="pedram-text">دسترسی به مجموعه‌ای بزرگ از خودروهای کارکرده و کارشناسی شده</p>
                    </div>
                    <div class="col-sm-12 col-md-2 cards">
                            <img class="pedram-c inspection-icon" src="/static/images/shape.svg">
                            <h2 class="pedram-header">قیمت رقابتی</h2>
                            <p class="pedram-text">قیمت گذاری خودرو ها در محیطی امن و رقابتی</p>
                    </div>
                    <div class="col-sm-12 col-md-2 cards">
                            <img class="pedram-c inspection-icon" src="/static/images/combined-shape.svg">
                            <h2 class="pedram-header">گزارش کارشناسی و اصالت خودرو</h2>
                            <p class="pedram-text">ارائه گزارش کارشناسی تخصصی خودرو موردنظر همراه تمام مدارک استعلام شده به صورت قانونی. </p>
                    </div>
                    <div class="col-sm-12 col-md-2 cards">
                            <img class="pedram-c inspection-icon" src="/static/images/۲۴.svg">
                    <h2 class="pedram-header">تضمین ۲۴ ساعته کارشناسی</h2>
                    <p class="pedram-text">در صورت وجود هرگونه مغایرت با اطلاعات کارشناسی شده، به مدت ۲۴ ساعت امکان اعلام شکایت و پرداخت خسارت، فراهم خواهد بود. </p>
                    </div>
            </div>
            <div class="inspection-detail text-right mt-5">
				<div class="row">
					<div class="col-sm-12 pt-5">
						<h2 class="inspection-title" style="font-size: 30px;"><span class="color-dealer">نحوه </span><span class="text-white"> دقیق کارشناسی خودرو</span><span style="color:#f15d2a">۴۵</span></h2></div>
                        <p class="inspection-text">طی یک فرآیند کارشناسی تخصصی ۱۴۵ بخش خودرو مورد برسی قرار می‌گیرد.</p>
                </div>
					<div class="inspection">
						<img src="/static/images/5-d-7-cd-5-aa-09844@2x.png" class="inspection-cars" width="370px" height="573.9px">
                        <div class="row inspection-cards">
						<div class="col-6 col-lg-4 d-flex align-items-center" style="margin-top: 20px;">
							<img  src="/static/images/shape (3).svg" class="inspection-icon" >
							<span class="inspection-cars-text">گیربکس</span>
						</div>
						<div class="col-6 col-lg-4 d-flex align-items-center" style="margin-top: 20px;">
							<img src="/static/images/battery.svg" class="inspection-icon">
							<span class="inspection-cars-text">سیستم برق</span>
						</div>
						<div class="col-6 col-lg-4 d-flex align-items-center" style="margin-top: 20px;">
							<img src="/static/images/pistons.svg" class="inspection-icon">
							<span class="inspection-cars-text">موتور</span>
						</div>
						<div class="col-6 col-lg-4 d-flex align-items-center" style="margin-top: 20px;">
							<img  src="/static/images/car-painting.svg" class="inspection-icon">	
							<span class="inspection-cars-text">رنگ و خوردگی</span>
						</div>
						<div class="col-6 col-lg-4 d-flex align-items-center" style="margin-top: 20px;">
							<img src="/static/images/spring.svg" class="inspection-icon">
							<span class="inspection-cars-text">سیستم تعلیق</span>
						</div>
						<div class="col-6 col-lg-4 d-flex align-items-center" style="margin-top: 20px;">
							<img src="/static/images/shape (4).svg" class="inspection-icon">
							<span class="inspection-cars-text">آپشن‌ها</span>
						</div>
						<div class="col-6 col-lg-4 d-flex align-items-center" style="margin-top: 20px;">
							<img src="/static/images/tire.svg" class="inspection-icon">
							<span class="inspection-cars-text">سلامت لاستیک‌ها</span>
						</div>
					</div>
            	</div>
			</div>
            <div>
    <div>
        <div class="description-cards">
                <h2 class="description-title"><span class="color-dealer">روال  </span>ثبت نام</h2>
        </div>
        <div class="md-stepper-horizontal orange">
                <div class="md-step active done">
                <div class="md-step-circle"><span>1</span></div>
                <div class="md-step-title">ثبت نام</div>
                <div class="md-step-optional">پس از ثبت‌نام و ورود اطلاعات در فرم مربوطه، منتظر تماس کارشناسان ما باشید. </div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step active done">
                <div class="md-step-circle"><span>2</span></div>
                <div class="md-step-title">نصب اپلیکیشن</div>
                <div class="md-step-optional">برنامه خرید خودرو را در تلفن همراه خود نصب کنید و از جدیدترین خودروهای کارکرده و اطلاعات فنی آ‌ن‌ها مطلع شوید. </div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step active done">
                <div class="md-step-circle"><span>3</span></div>
                <div class="md-step-title">شرکت در مزایده</div>
                <div class="md-step-optional">علاوه بر اینکه می‌توانید شاهد معرفی و خرید خودروهای کارکرده در محیطی امن باشید، به جمع رقبای خرید خودرو نیز بپیوندید. </div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step">
                <div class="md-step-circle"><span>4</span></div>
                <div class="md-step-title">خرید نهایی خودرو</div>
                <div class="md-step-optional">پس از طی مراحل مورد نیاز، هماهنگی‌های لازم جهت تحویل خودروی خریداری شده شما صورت می‌گیرد. </div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
        </div>

        <div class="description-cards">
                <h2 class="description-title">نصب برنامه خریداران مجاز خودرو<span class="color-dealer">۴۵ </span></h2>
        </div>
        <div class="row mobile-dealer">
        <div class="col-md-4 d-none d-sm-block">
        <div class="dealer-app text-center">
            <p class="link-download p-5">برای دسترسی به لیست خودرو‌ها، برنامه خودرو۴۵ را دریافت کنید.</p>
				<div class="col-sm-12">
					<img src="/static/images/app-store-button.svg" width="170px" height="44.9px" style="margin-top:30px">
				</div>
				<div class="col-sm-12">
					<img src="/static/images/group-8@2x.png" width="170px" height="44.9px">
				</div>
				<div class="col-sm-12">
					<img src="/static/images/app-store-button-copy@2x.jpg" width="170px" height="44.9px" style="margin-bottom:30px">
				</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
				<div class="text-center">
					<img src="/static/images/free-i-phone-x-mockup-with-2-angles@2x.jpg" width="270px" height="540px">
				</div>
        </div>
        <div class="col-sm-12 col-md-4 list-inspection">
				<div class="col-sm-12">
					<div class="download-step">
				    	<p class="download-text">لیست خودروهای در حال رقابت</p>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="download-step">
						<p class="download-text">گزارش کارشناسی تخصصی</p>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="download-step">
						<p class="download-text">مشخصات ظاهری خودرو</p>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="download-step">
						<p class="download-text">انتظار خودروهای حال کارشناسی</p>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="download-step">
						<p class="download-text">پیشنهادات من</p>
					</div>
				</div>
                </div>
			</div>
            <div class="row step-download text-center">
            <di class="col-12 d-sm-block d-md-none">
				<p class="link-download mb-5">برای دسترسی به لیست خودرو‌ها، برنامه خودرو۴۵ را دریافت کنید.</p>
				<div class="col-sm-12">
					<img src="/static/images/app-store-button.svg" width="170px" height="44.9px">
				</div>
				<div class="col-sm-12">
					<img src="/static/images/group-8@2x.png" width="170px" height="44.9px">
				</div>
				<div class="col-sm-12">
					<img src="/static/images/app-store-button-copy@2x.jpg" width="170px" height="44.9px">
				</div>
                </div>
			</div>
    </div>
    <div class="dealer-image-content">
        <div class="description-cards">
                <h2 class="description-title text-white">  تجربه همکاری با خودرو<span class="color-dealer"> ۴۵ </span></h2>
        </div>
        <div id="carouselExampleControls" class="carousel slide mt-3" data-ride="carousel">
                <ol class="carousel-indicators" style="margin-bottom:-50px">
                        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                    </ol>
            <div class="carousel-inner text-center" role="listbox">
                <div class="carousel-item active">
                    <div class="img"><img class="img-dealer-khodro" src="/static/images/profile-pic-mask.png"></div>
                </div>
                <div class="carousel-item">
                    <div class="img"><img class="img-dealer-khodro" src="/static/images/profile-pic-mask.png"></div>
                </div>
                <div class="carousel-item">
                    <div class="img"><img class="img-dealer-khodro" src="/static/images/profile-pic-mask.png"></div>
                </div>
            </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </div>
    <div class="sponser-dealer">
        <div class="row sponser-dealer-logo text-center justify-content-center">
            <div class="col" style="display:block;margin:auto">
                <img class="" src="/static/images/feb-9-bb-53-063-c-4-f-41-8325-da-968-cb-1-c-042.jpg">
            </div>
            <div class="col" style="display:block;margin:auto">
                <img class="" src="/static/images/azki-logo-png-way-2-pay-97-10-07@2x.png">
            </div>
            <div class="col" style="display:block;margin:auto">
                <img class="" src="/static/images/group-43.png">
            </div>
            <div class="col" style="display:block;margin:auto">
                <img class="" src="/static/images/group-76.png">
            </div>
            <div class="col" style="display:block;margin:auto">
                <img class="" src="/static/images/donyaye-eghtesad-1000-way-2-pay-98-01-27-810-x-454-1.png">
            </div>
            <div class="col" style="display:block;margin:auto">
                <img class="" src="/static/images/volkswagen-logo-2000-1920-x-1080.png">
            </div>
            <div class="col" style="display:block;margin:auto">
                <img class="" src="/static/images/mellat-bank-logo.png">
            </div>
        </div>
        <div id="myCarousel" class="carousel slide mt-3 text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="img" src="/static/images/feb-9-bb-53-063-c-4-f-41-8325-da-968-cb-1-c-042.jpg">
                </div>
                <div class="carousel-item">
                    <img class="img" src="/static/images/azki-logo-png-way-2-pay-97-10-07@2x.png">
                </div>
                <div class="carousel-item">
                    <img class="img" src="/static/images/group-43.png">
                </div>
                <div class="carousel-item">
                    <img class="img" src="/static/images/group-76.png">
                </div>
                <div class="carousel-item">
                    <img class="img" src="/static/images/donyaye-eghtesad-1000-way-2-pay-98-01-27-810-x-454-1.png">
                </div>
                <div class="carousel-item">
                    <img class="img" src="/static/images/volkswagen-logo-2000-1920-x-1080.png">
                </div>
                <div class="carousel-item">
                    <img class="img" src="/static/images/mellat-bank-logo.png">
                </div>
            </div>
        </div>
    </div>    
    <div class="description-cards">
                <h2 class="description-title">سوالات متداول</h2>
        </div>
        <div class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular">
            <div class="et_pb_row et_pb_row_11 et_pb_equal_columns">
                <div class="et_pb_column et_pb_column_1_2 et_pb_column_19 et_pb_css_mix_blend_mode_passthrough">
                    <div class="et_pb_module et_pb_accordion et_pb_accordion_0  et_pb_text_align_right">
                        <div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_0  et_pb_toggle_open">
                            <h5 class="et_pb_toggle_title">چرا برای فروش ماشین به آگهی های چاپ و مجازی مراجعه نکنیم؟</h5>
                            <div class="et_pb_toggle_content clearfix">
                                ۱- زمان بر بودن فروش خودرو۲- ایجاد مزاحمت های مختلف توسط افراد سودجو۳- احتمال فروش نرفتن خودرو۴- کلاه برداری وسوء استفاده افراد سودجو و ناشناس برای فروشنده درنقل وانتقالات وپرداخت وجه۵- خطرناک بودن مرحله ی بازدید خودرو توسط افراد ناشناس در منزل یا محل کار
                            </div> 
                        </div> 
                        <div
                            class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_1  et_pb_toggle_close">
                            <h5 class="et_pb_toggle_title">چرا برای فروش ماشین به آگهی های چاپ و مجازی مراجعه نکنیم؟</h5>
                            <div class="et_pb_toggle_content clearfix">
                                ۱- زمان بر بودن فروش خودرو۲- ایجاد مزاحمت های مختلف توسط افراد سودجو۳- احتمال فروش نرفتن خودرو۴- کلاه برداری وسوء استفاده افراد سودجو و ناشناس برای فروشنده درنقل وانتقالات وپرداخت وجه۵- خطرناک بودن مرحله ی بازدید خودرو توسط افراد ناشناس در منزل یا محل کار
                            </div> 
                        </div> 
                        <div
                            class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_2  et_pb_toggle_close">
                            <h5 class="et_pb_toggle_title">چرا برای فروش ماشین به آگهی های چاپ و مجازی مراجعه نکنیم؟</h5>
                            <div class="et_pb_toggle_content clearfix">
                                ۱- زمان بر بودن فروش خودرو۲- ایجاد مزاحمت های مختلف توسط افراد سودجو۳- احتمال فروش نرفتن خودرو۴- کلاه برداری وسوء استفاده افراد سودجو و ناشناس برای فروشنده درنقل وانتقالات وپرداخت وجه۵- خطرناک بودن مرحله ی بازدید خودرو توسط افراد ناشناس در منزل یا محل کار
                            </div> 
                        </div> 
                        <div
                            class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_3  et_pb_toggle_close">


                            <h5 class="et_pb_toggle_title">چرا برای فروش ماشین به آگهی های چاپ و مجازی مراجعه نکنیم؟</h5>
                            <div class="et_pb_toggle_content clearfix">
                                ۱- زمان بر بودن فروش خودرو۲- ایجاد مزاحمت های مختلف توسط افراد سودجو۳- احتمال فروش نرفتن خودرو۴- کلاه برداری وسوء استفاده افراد سودجو و ناشناس برای فروشنده درنقل وانتقالات وپرداخت وجه۵- خطرناک بودن مرحله ی بازدید خودرو توسط افراد ناشناس در منزل یا محل کار
                            </div> 
                        </div> 
                        <div
                            class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_4  et_pb_toggle_close" style="opacity: 0.5">


                            <h5 class="et_pb_toggle_title">چرا برای فروش ماشین به آگهی های چاپ و مجازی مراجعه نکنیم؟</h5>
                            <div class="et_pb_toggle_content clearfix">
                                ۱- زمان بر بودن فروش خودرو۲- ایجاد مزاحمت های مختلف توسط افراد سودجو۳- احتمال فروش نرفتن خودرو۴- کلاه برداری وسوء استفاده افراد سودجو و ناشناس برای فروشنده درنقل وانتقالات وپرداخت وجه۵- خطرناک بودن مرحله ی بازدید خودرو توسط افراد ناشناس در منزل یا محل کار
                            </div> 
                        </div> 
                        <div
                            class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_5  et_pb_toggle_close" style="opacity: 0.2">
                            <h5 class="et_pb_toggle_title">چرا برای فروش ماشین به آگهی های چاپ و مجازی مراجعه نکنیم؟</h5>
                            <div class="et_pb_toggle_content clearfix">
                                در صورت اختلاف گزارش فنی با واقعیت خودرو، اعتراض مشتری پذیرفته می‌شود و مشتری می‌تواند خودرو را پس داده یا حتی با توجه به مشکل موجود، از تخفیف بیشتری برخوردار شود.
                            </div> 
                        </div> 
                        <div
                            class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_6  et_pb_toggle_close" style="display: none;opacity: 0.1">
                            <h5 class="et_pb_toggle_title">چرا برای فروش ماشین به آگهی های چاپ و مجازی مراجعه نکنیم؟</h5>
                            <div class="et_pb_toggle_content clearfix">
                                ۱- زمان بر بودن فروش خودرو۲- ایجاد مزاحمت های مختلف توسط افراد سودجو۳- احتمال فروش نرفتن خودرو۴- کلاه برداری وسوء استفاده افراد سودجو و ناشناس برای فروشنده درنقل وانتقالات وپرداخت وجه۵- خطرناک بودن مرحله ی بازدید خودرو توسط افراد ناشناس در منزل یا محل کار
                            </div> 
                        </div> 
                        <div
                        class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_6  et_pb_toggle_close" style="display: none;opacity: 0.1">
                        <h5 class="et_pb_toggle_title">چرا برای فروش ماشین به آگهی های چاپ و مجازی مراجعه نکنیم؟</h5>
                        <div class="et_pb_toggle_content clearfix">
                            ۱- زمان بر بودن فروش خودرو۲- ایجاد مزاحمت های مختلف توسط افراد سودجو۳- احتمال فروش نرفتن خودرو۴- کلاه برداری وسوء استفاده افراد سودجو و ناشناس برای فروشنده درنقل وانتقالات وپرداخت وجه۵- خطرناک بودن مرحله ی بازدید خودرو توسط افراد ناشناس در منزل یا محل کار
                        </div> 
                    </div>
                    <div
                    class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_6  et_pb_toggle_close" style="display: none;opacity: 0.1">
                    <h5 class="et_pb_toggle_title">چرا برای فروش ماشین به آگهی های چاپ و مجازی مراجعه نکنیم؟</h5>
                    <div class="et_pb_toggle_content clearfix">
                        ۱- زمان بر بودن فروش خودرو۲- ایجاد مزاحمت های مختلف توسط افراد سودجو۳- احتمال فروش نرفتن خودرو۴- کلاه برداری وسوء استفاده افراد سودجو و ناشناس برای فروشنده درنقل وانتقالات وپرداخت وجه۵- خطرناک بودن مرحله ی بازدید خودرو توسط افراد ناشناس در منزل یا محل کار
                    </div> 
                </div>
                    </div> 
                </div> 
            </div>
        <div class="text-center">
            <button class="show-more" id="show-more">مشاهده بیشتر<i class="fa fa-cared-down"></i></button>
        </div>

        <div class="line-content d-flex align-items-center row mt-4">
        <div class="col-12 col-md-6">
            <p class="text-white text-right sign-in-dealer">برای دیدن لیست خودرو ها، همین حالا ثبت نام کنید و منتظر تماس کارشناسان ما باشید.</p>
        </div>
        <div class="col-12 col-md-6 ml-auto">
            <button class="btn mt-2 dealer-app-button">ثبت نام</button>
        </div>
        </div>

        <div class="row text-right" style="background-color:#212528;padding: 7.5% 7.5% 0 7.5%;">
            <div class="col-sm-12 col-md-3 p-0">
                <h2 class="text-white mb-3 dealer-declare-dealer">معرفی خودرو<span class="color-dealer">۴۵ </span></h2>
                <p class="dealer-declare-dealer-text">فروش خودرو به صورت سنتی فرایندی پردردسر، وقت‌گیر و نامطمئن است که می‌تواند مشکلات فراوانی را برایتان به همراه داشته باشد. مطمئنا اگر بخواهید در سریع‌ترین زمان ممکن و بدون کمترین زحمت یا هزینه خودرو خود را به فروش برسانید، تیم خودرو۴۵ بهترین انتخاب شما خواهد بود.</p>
            </div>
            <div class="col-sm-12 col-md-3 branch-loaction">
                <p class="text-white">مرکز تحویل خودرو</p>
                <p class="branch-text">تهران، میدان پونک، بلوار میرزابابایی، تقاطع سردار جنگل، پایانه پونک (جایگاه اختصاصی خودرو۴۵)</p>
            </div>
            <div class="col-sm-12 col-md-3 footer-detail">
                <ul>
                    <li>درباره ما</li>
                    <li>بلاگ</li>
                    <li>سوالات متداول</li>
                    <li>نظرات مشتریان</li>
                    <li>قوانین و مقررات</li>
                </ul>
            </div>
            <div class=" col-sm-12 col-md-3 mb-3">
                <div class="row text-center">
                    <div class="col-6 col-md-6">
                        <img src="/static/images/group-38.png" class="licence-1" width="120px" height="120px" style="max-width:110px">
                    </div>
                    <div class="col-6 col-md-6">
                        <img src="/static/images/group-38-copy.jpg" class="licence-2" width="120px" height="120px" style="max-width:110px">
                    </div>
                    <div class="col-md-12 footer-mobile-button">
                        <button type="button" class="button-number">۰۲۱-۹۱۰۰۴۵۰۲ <span class="fa fa-phone color-dealer"></span></button>
                    </div>
                </div>
            </div>
            <div class="row footer text-white text-center opacity-footer">
                <div class="col-sm-12 col-md-6">
                    <span>آدرس ایمیل : info@khodro45.com</span>
                </div>
                <div class="col-sm-12 col-md-6">
                    <span class="text-left">تمامی حقوق برای وبسایت خودرو۴۵ محفوظ است. ۱۳۹۸</span>
                </div>
            </div>
        </div>
    
    </body>
    <script>
        jQuery(function ($) {
            $('.et_pb_toggle_title').click(function () {
                var $toggle = $(this).closest('.et_pb_toggle');
                if (!$toggle.hasClass('et_pb_accordion_toggling')) {
                    var $accordion = $toggle.closest('.et_pb_accordion');
                    if ($toggle.hasClass('et_pb_toggle_open')) {
                        $accordion.addClass('et_pb_accordion_toggling');
                        $toggle.find('.et_pb_toggle_content').slideToggle(700, function () {
                            $toggle.removeClass('et_pb_toggle_open').addClass('et_pb_toggle_close');
                        });
                    }
                    setTimeout(function () {
                        $accordion.removeClass('et_pb_accordion_toggling');
                    }, 750);
                }
            });
            $('#show-more').click(function (){
                $('.et_pb_accordion_item').css('opacity',"1");
                $('.et_pb_accordion_item').css('display',"block");
            })
        });
    </script>

    <style>
        a{
            color:white
        }
        .card-header {
            background-color: white;
        }
        .branch-loaction{
            padding: 50px 65px;
        }
        .footer-detail{
            padding: 50px 65px;
        }
        .footer-mobile-button {
            display: grid;
            margin-top:10%;
            margin-bottom:5%
        }
        .carousel-indicators li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }
        .opacity-footer{
            opacity: 0.5;
        }
        .color-dealer{
            color:#f06f2f
        }
        .row{
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .dealer-app-button{
            width: 25%;
            height: 40px;
            border-radius: 5px;
            color: black;
            box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.11);
            background-color: #ffffff
        }
        .footer{
            position: relative;
            width: 100%;
            margin: auto;
            padding: 10px 0 ;
            border-top:2px solid rgb(256,256,256,0.5)

        }
        .sponser-dealer{
            background-color: #212528;
            width: 100%;
            height: 100%;
        }
        .card{
            border-radius: 5px;
            margin-top: 15px;
            border: solid 1px #d9d9d9;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.12);
            background-color: #ffffff;
        }
        .line-content{
            width: 100%;
            padding: 0 100px;
            height: 87px;
            background-color: #f15d2a;

        }
        .collapse-bar-dealer{
            width: 80%;
            margin: 4% auto;
        }
        .inspection-cars-text{
            margin-right: 16px;
        }
        .inspection-icon{
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.05);
            padding:8px
        }
        .show-more{
            width: 161px;
            text-align: center;
            height: 51px;
            border-radius: 5px;
            color:#f15d2a;
            border: solid 1px #f15d2a;
            background-color: #ffffff;
        }
        .title-dealer{
            margin: 310px 14% 0 0;
            width: 400px;
            height: 126px;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
            font-size: 35px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            
            color: #ffffff;
        }
        .list-inspection{
            margin-top: 4%;
            position: relative;
            right: -90px;
        }
        .spon-1{
            position: relative;
            top: 50%;
            bottom: 50%;
        }
        .dealer-app{
            position: relative;
            left: -140px;
            top: 22%;
            width: 110%;
            height: 344px;
            border-radius: 5px;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.12);
            background-color: #ffffff;
            border-right: 6px solid #f15d2a;

        }
        .text-dealer-form{
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #2c2c46;

        }

        .pedram-text{
            position: absolute;
            top: 70%;
            left: 50%;
            width: 90% !important;
		    top: 74% !important;
            margin-right: -50%;
            transform: translate(-50%, -50%) 
        }
        .pedram-header{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) ;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #212528;
        }
        .download-text {
            padding-top: 10px !important;
            font-size: 15px;
            font-weight: 800;
            text-align: right;
            margin-right: 10px;
            color: #686868;
        }
        .sponser-dealer-logo{
            width: 80%;
            margin: auto !important;
            padding: 65px 0 65px 0;

        }
        .dealer-image-content{
            background-image:url(/static/images/neonbrand-or-g-jc-wvi-6-js-unsplash.png);
            width: 100%;
            height: 640px !important;
            background-attachment: inherit;
            background-size: 121% 103%;
            }
        .download-step{
            width: 75%;
            margin: auto 0;
            padding: 15px;
            margin-top: 10px;
            border-radius: 5px;
            border: solid 1px #d3d3d3;
            background-color: #ffffff;
			}
            .card{
                width: 100%;
                border-radius: 5px;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
                background-color: #ffffff;
            }
        .inspection-detail{
				width: 100%!important;
				height: 630px !important;
				box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.05) !important;
				background-color: rgba(0, 0, 0, 0.87) !important;
		}
        .inspection{
            position: relative;
            top: 60px !important;
            margin-left: 0 !important;
            margin-right: auto;
            width: 87%;
            height: 316px;
            border-right: 6px solid #f15d2a;
            background-color: #f9f9f9;
			}
            .inspection-cars{
                position: absolute;
                left: 10%;
                bottom: -23%;
            }
        .pedram-c{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%) 
        }
        .cards-label-text{
            width: 85%;
            margin: auto !important;
            object-fit: contain;
            padding-right: 30px;
            text-align: right
        }
        .cards{
            width:100%;    
            margin: 0 20px;
            height: 344px;
            border-top:6px solid  #f15d2a;
            box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05);
            background-color: #ffffff;
        }
        .text-dealer{
            margin: 0 14% 0 0;
            width: 400px;
            height: 82px;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
            font-size: 22px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.86;
            letter-spacing: normal;
            color: #ffffff;
        }
        #myCarousel{
            display: none;
        }
        .form-box-dealer{
            margin: -370px 60% 84px 33px;
            width: 28%;
            height: 507px;
            border-radius: 5px;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            border-top: 8px solid #f15d2a;
        }
        .btnform{
            margin-top: 27px;
            text-align: center;
            width: 129px;
            height: 43px;
            border-radius: 5px;
            background-color: #f15d2a;
            color: white;
        }
        .form-box-dealer-child{
            width: 70%;
            margin: auto;
            padding: 6px 0;
        }
        ::placeholder{
            padding-right: 10px;
        }
        .inspection-cards{
            padding-left: 46%;
            padding-right: 3%;
            padding-top: 1%;

        }
        .dealer-image{
            width: 100%;
            height: 668px;
            background-image: url('/static//images/group-2@2x.jpg');
            background-size: 100% 100%;
        }
        .button-number{
            border-radius: 5px;
            padding: 8px 20px;
            color: white;
            border: solid 1px #ffffff;
            background-color: rgba(0, 0, 0, 0.5)
        }
		.navbar-nav li{
			font-weight: 600;
		}
        .navbar-expand-lg .navbar-nav .nav-link {
                padding: 0 0.8rem;
        }
        .navigation {
            width: 100%;
			backdrop-filter: blur(3px);
            padding-right: 13.5%;
            padding-left: 13.5%;
            position: relative;;
            top:0;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .description{
            padding: 143px 30px 143px 135px !important;
        }
        .description-cards{
            padding: 60px 28px 35px 28px !important;
        }
        .description-title {
				font-size: 25px !important;
				text-align: right;
				font-weight: 600;
                padding-right: 105px
			}
            .inspection-title{
                padding: 28px !important;
                margin-right: 75px
            }
        .description-text{
            font-size: 17px;
            color: #76768a;
            line-height: 1.7;
            padding-right: 105px
        }
        ul li{
            list-style-type: disc;
            line-height: 2.5;
        }
        .inspection-text{
            text-align: right;
            padding-right: 120px;
            color: white;
        }
        @media only screen and (max-width: 767px){
            .logo{
                width: 157px !important;
                height: 21px !important;
            } 
            #myCarousel{
                display: flex;
            }
            .sponser-dealer-logo {
                display: none;
            }
            .carousel-item{
                margin-bottom: 10%;
            }
            .inspection-icon{
                width:40%;
            }
            .img-dealer-khodro{
                height: 450px;
                width: 85%;
            }
            .sponser-dealer{
                padding: 4% 0 ;
            }
            .step-download{
                margin-bottom:10%;
            }
            .dealer-image-content{
                height: 750px !important;
                background-size: 228% 110% !important;
            }
            .dealer-app {
                left: -22px !important;
                height: 363px !important;
                display: none   
            }
            .download-step {
                width: 100%;
            }
            .dealer-image-content{
                width: 100%;
                background-attachment: inherit;
                background-size: 228% 88%;
                background-repeat: no-repeat;
            }
            .licence-2{
                width: 120px !important;
                max-width: 120px !important;
            }
            .licence-1{
                width: 120px !important;
                max-width: 120px !important;
            }
            .branch-loaction {
                padding: 50px 0 !important;
            }        
            .md-stepper-horizontal .md-step{
                display: table !important;
            }
            .footer{
                bottom: 0 !important;
                padding: 30px 0;
                width: 100%;
                margin: auto;
            }
            .sign-in-dealer{
                text-align: center !important;
            }
            .footer-detail{
                padding: 10px 20px 50px 30px !important;
            }
            .branch-loaction{
                padding: 25px 0 !important;
            }
            .description-title{
                text-align: center !important;
            }

            .description{
            padding: 100px 28px !important;
        }
        .download-step{
            width: 100% !important
        }
            
            .line-content{
                    padding: 25px 0px !important;
                    height: 150px !important;
                    text-align: center
            }
            .inspection-detail{
                height: 830px !important;
            }
            .list-inspection{
                right: 0 !important;
                bottom:30px !important;
            }
            .title-dealer{
                margin: 40px 0 0 0 !important;
                padding-right: 20px;
                width: 100% !important;
				font-size: 23px !important;
            }
            .form-box-dealer{
                width: 90%;
                margin: auto;
                left: 0 !important;
                right: 0 !important;
                top: 50%;
            }
            .inspection-title{
                margin-right: 0 !important;
                font-size: 20px !important;
            }
            .inspection-text{
                width: 80%;
                margin: auto;
                text-align: center !important;
                padding-right: 0 !important;
            }
            .inspection-cars{
                width: 187.1px !important;
                height: 254px !important;           
                position: absolute;
                bottom: 65%;
                right: 19%;
            }
            .inspection-cards{
                padding-right: 5% !important;
                padding-left: 5% !important;
                padding-top: 57% !important;
            }
            .inspection{
                width: 80% !important;
                height:558px !important;
            }
            .text-dealer{
                margin: 0 !important;
                padding-right: 20px ;
				width: 90% !important;
				font-size: 16px !important;
            }
            .dealer-image{
                width: 100%;
                height: 714px !important;
                background-attachment: fixed;
                background-size: auto;
            }
            .navigation{
                padding-right: 10px !important;
                padding-left: 10px !important;
            }
        }
        @media (max-width: 966px){
            .download-step{
                width: 100%;
            }
            .mobile-dealer{
                margin-bottom: 10%;
            }
            .dealer-app {
                left: -10px !important;
                top: 23%;
            }
        }
        @media (max-width: 1200px){
            .navbar-expand-lg .navbar-nav .nav-link {
                padding: 10px 0.8rem !important;
            }
            .dealer-app-button{
                font-size: 12px;
                height: 35px;
            }
            .download-step{
                width: 90% ;
            }
            .dealer-app{
                left: -60px !important;
            }
            .list-inspection{
                right: 0 !important
            }
            .dealer-app-button{
                width: 35%;
            }
            ul li {
                list-style-type: disc;
                line-height: 2;
                font-size:12px;
            }
            .branch-text{
                font-size: 12px !important
            }
            .sign-in-dealer{
                font-size: 12px;
            }
            .licence-1{
                width: 60px;
            }
            .licence-2{
                width: 60px;
            }
            .dealer-declare-dealer{
                font-size: 18px
            }
            .dealer-declare-dealer-text{
                font-size: 12px
            }
            .branch-loaction {
                padding: 50px 15px ;
            }
            .footer-detail {
                padding: 50px 30px;
            }
            .footer{
                margin-top: 5%;
            }
            .title-dealer{
                font-size: 32px;
            }
            .navigation{
                padding-right: 5.5%;
                padding-left: 5.5%;
            }
            .description-title{
                padding-right: 0 !important;
                text-align: right;
                margin-top: 5%;
                margin-bottom: 5%;
                font-size: 20px !important;
            }
            .description-text{
                padding-right: 0 !important;
                margin-top: 2rem !important;
                
            }
            .cards{
                margin-top: 10%;
            }
            .description-cards{
                padding: 40px 28px !important;
            }
            .navbar-nav li{
                text-align: center !important;  
            } 
        }

.carousel-control-next{
    position: absolute;
    top: 40%;
    right: 18%;
    height: 18%;
    width: 5%;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background-color: #ffffff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-prev-icon,.carousel-control-next-icon {
    background-color: black !important;
}
.carousel-control-prev {
    position: absolute;
    top: 40%;
    left: 18%;
    height: 18%;
    width: 5%;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background-color: #ffffff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.md-stepper-horizontal {
	display:table;
	width:85%;
	margin:5% auto;
	background-color:#FFFFFF;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
    </style>

</html>
